<div id="list-search">
    <div ng-controller="SourceDataCtrl">
        <div class="container-fluid">
            <div class="row-fluid">
                <div class="span2">
                    <!--Sidebar content-->
                </div>
                <div class="span10">
                    <table class="table table-bordered table-striped">

                        <tr >
                            <th>Source</th>
                            <th>Type</th>
                            <th>Niveau de Partage</th>
                            <th>Tag</th>
                            <th>Domaine</th>
                            <th>Auteur</th>
                            <th>Surveillance</th>
                            <!--
                            <th>URL</th>
                            <th>Langue</th>

                            -->
                        </tr>
                        <tr ng-repeat="source in sourceResult.success.response.docs">
                            <td><a href="{{source.url_s}}">{{source.url_s}}</a></td>
                            <td>{{source.type_s}}</td>
                            <td>{{source.level_sharing_i}}</td>
                            <td></td>
                            <td></td>
                            <td>{{source.user_s}}</td>
                            <td></td>
                            <!--

                            <td></td>
                            <td></td>
                            -->
                        </tr>
                    </table>
                    Nombre de sources trouvées: {{sourceResult.success.response.numFound}}
                </div>
            </div>
        </div>
    </div>
</div>


