<div id="search-new-feeds">
    <div ng-controller="GoogleFeedCtrl">
        <div class="container-fluid">
            <div class="row-fluid">
                <form class="form-horizontal" ng-submit="doSearch()">
                    <input type="text" placeholder="Chercher" ng-model="searchTerm" name ="searchTerm">
                    <button class="btn" ng-click="doSearch()" name ="searchButton"><i class="icon-search"></i>Search</button>
                </form>
                <div solr-results_number ng-show="googleFeedResult.responseData">
                    Found: {{foundRes}} rss

                    <div class="gridStyle" ng-grid="gridOptions">

                    </div>
                    <button ng-click="selectAll()" name ="msgSelect">{{msgSelect}}</button>

                    <button ng-click="createOPML()" name ="createOpml">Create OPML</button>

                    <div class="selectedItems">{{mySelections}}</div>
                </div>

            </div>
        </div>
    </div>
</div>