<div ng-controller="headerCtrl">
  <div ng-include src="template.url"></div>
</div>

<div id="list-search">
    <ol class="breadcrumb text-center">
    <li><a href="#/home">{{ '_SERVICE_NAME_' | i18n }}</a></li>
    <li><a href="#">{{ '_ORGANIZE_BAR_ITEM_' | i18n }}</a></li>
    <li class="active">{{ '_ORGANIZE_BAR_SOURCELIST_' | i18n }}</li>
    </ol>
    <div ng-controller="SourceListCtrl">

            <div class="row">
<!--           <div class="col-md-0">

                </div> -->
                <div class="col-md-12">
                    <div class="gridStyleSource" ng-grid="gridOptionsSource">

                    </div>
                </div>
            </div>

    </div>
</div>


