<div ng-controller="headerCtrl">
  <div ng-include src="template.url"></div>
</div>

<ol class="breadcrumb text-center">
    <li><a href="#/home">Webso</a></li>
    <li><a>Surveiller</a></li>
    <li class="active">Ajouter les sources</li>
</ol>
<div ng-controller="AddSourceCtrl">
    <form name="sourceForm" class="form-horizontal" role="form">

        <div class="form-group" >
            <label class="col-sm-2 control-label"> Source </label>
            <div class="col-sm-10">
                <input type="text" class="form-control" placeholder="Entrer lien" ng-model="inputUrl" id="inputUrl" name="inputUrl">
            </div>

        </div>
        <div class="form-group" >
            <label class="col-sm-2 control-label"> Nom de la source </label>
            <div class="col-sm-10">
                <input type="text" class="form-control" placeholder="Entrer Titre" ng-model="inputTitle" id="inputTitle" name="inputTitle">
            </div>

        </div>


        <div class="form-group" >
            <label class="col-sm-2 control-label"> Fréquence de la source </label>
            <div class="col-sm-10">
                <select ng-model="frequency" ng-options="frequency.option for frequency in frequencies"></select>
            </div>
        </div>


        <div class="form-group" >
            <label class="col-sm-2 control-label"> Tags </label>
            <div class="col-sm-10">
                <input type="text" class="form-control" placeholder="Entrer tags" ng-model="inputTags" id="inputTags" name="inputTags">
            </div>

        </div>


        <div class="form-group">
            <div class="col-lg-offset-2 col-lg-10">
                <button type="submit" class="btn btn-default" ng-click="doAdd()" name="add">Ajouter</button>

            </div>
        </div>
    </form>
    <!-- Testing Modal  -->
    <script type="text/ng-template" id="addSourceModal.html">
        <div class="modal-header">
            <h3> Ajout de Source</h3>
        </div>
        <div class="modal-body">
            Source ajoutée  avec succès
        </div>
        <div class="modal-footer">
            <button class="btn btn-primary" ng-click="ok()">OK</button>

            <!-- <button class="btn btn-warning" ng-click="cancel()">Cancel</button> -->
        </div>
    </script>
</div>

