<div ng-controller="headerCtrl">
  <div ng-include src="template.url"></div>
</div>

<ol class="breadcrumb text-center">
    <li><a href="#/home">{{ '_SERVICE_NAME_' | i18n }}</a></li>
    <li><a href="#">{{ '_ORGANIZE_BAR_ITEM_' | i18n }}</a></li>
    <li class="active">{{ '_ORGANIZE_BAR_SOURCE_ADD_' | i18n }}</li>
</ol>

<div ng-controller="AddWatchCtrl"> <!-- AddSourceCtrl -->
    <form name="sourceForm" class="form-horizontal" role="form">

        <div class="col-md-6">
            <h3>{{ '_ORGANIZE_BAR_SOURCE_ADD_' | i18n }}</h3>
            {{ '_REQUIRE_FIELDS_' | i18n }}
            <div class="form-group" >
                <label class="col-md-5 control-label required"> {{ '_SOURCE_' | i18n }}*</label>


                <div class="col-md-7">
                    <input type="text" ng-blur="checkSourceUrl(inputUrl)" class="form-control" placeholder="{{ '_ENTER_LINK_' | i18n }}" ng-model="model.inputUrl" id="inputUrl" name="inputUrl">

                </div>
                <div class="col-md-1">

                    <span class="glyphicon glyphicon-repeat" ng-show="checkingSource"></span>
                </div>

            </div>
            <div class="form-group" >
                <label class="col-md-5 control-label">{{ '_SOURCE_NAME_' | i18n }}*</label>
                <div class="col-md-7">
                    <input type="text" class="form-control" placeholder="{{ '_ENTER_TITLE_' | i18n }}" ng-model="model.inputTitle" id="inputTitle" name="inputTitle">
                </div>
            </div>

<!--             <div class="form-group">
                <label class="col-md-5 control-label">{{ '_FREQUENCY_CHECK_' | i18n }}</label>
                <div class="col-md-7">
                    <select ng-model="model.inputFrequency" ng-options="frequency.option for frequency in frequencies" require></select>
                </div>
            </div> -->

            <div class="form-group" >
                <label class="col-md-5 control-label">{{ '_TAGS_' | i18n }}*</label>
                <div class="col-md-7">
                    <input type="text" class="form-control" placeholder="{{ '_ENTER_TAG_' | i18n }}" ng-model="model.inputTags" id="inputTags" name="inputTags">
                </div>

            </div>

            <!-- <div class="form-group">
              <label class="checkbox">
                <div class="col-sm-offset-5 col-sm-10">
                    <input type="checkbox" class="checkbox-control" ng-model="model.valueCheckBoxSource" name="valueCheckBox"> 
                    {{ '_ADD_WIDGET_TO_DASHBOARD_' | i18n }}
                </div>
              </label>
            </div> -->

            <div class="form-group">
                <div class="col-md-offset-5 col-md-7">
                    <button ng-disabled="!sourceChecked" type="submit" class="btn btn-default" ng-click="doAddSource() " name ="watch" required>{{ '_ADD_SOURCE_' | i18n }}</button>
                </div>
            </div>
        </div>
        <div class="col-md-6" id="displaySample">
            <div class="scroll-area" data-spy="scroll" data-target="#myNavbar" data-offset="0">
                <div ng-show="sourceChecked">
                    {{checkSourceResult.count}} {{sourceType}} trouvé(s) {{ '_ELEMENTS_FOUND_' | i18n }}
                    <div ng-repeat="item in checkSourceResult.items">
                        <div class row>

                            <h5 ng-bind-html="item.title"></h5>

                            <p ng-bind-html="item.description"></p>


                        </div>
                    </div>
                </div>
            </div>
        </div>
    </form>
    <!-- Testing Modal  -->
    <script type="text/ng-template" id="addSourceModal.html">
        <div class="modal-header">
            <h3>{{ '_MODAL_SOURCE_ADD_' | i18n }}</h3>
        </div>
        <div class="modal-body">
            {{ '_MODAL_SOURCE_ADD_OK_' | i18n }}
        </div>
        <div class="modal-footer">
            <button class="btn btn-primary" ng-click="ok()">{{ '_OK_' | i18n }}</button>

            <!-- <button class="btn btn-warning" ng-click="cancel()">{{ '_CANCEL_' | i18n }}</button> -->
        </div>
    </script>

    <script type="text/ng-template" id="addSourceModalPresent.html">
        <div class="modal-header">
            <h3>{{ '_MODAL_SOURCE_ADD_ERROR_' | i18n }}</h3>
        </div>
        <div class="modal-body">
            {{ '_MODAL_SOURCE_ADD_ALREADY_SAVE_' | i18n }}
        </div>
        <div class="modal-footer">
            <button class="btn btn-primary" ng-click="ok()">{{ '_OK_' | i18n }}</button>
        </div>
    </script>

    <script type="text/ng-template" id="addSourceModalEmptyField.html">
        <div class="modal-header">
            <h3>{{ '_MODAL_SOURCE_ADD_ERROR_' | i18n }}</h3>
        </div>
        <div class="modal-body">
            {{ '_MODAL_SOURCE_ADD_EMPTY_FIELD_' | i18n }}
        </div>
        <div class="modal-footer">
            <button class="btn btn-primary" ng-click="ok()">{{ '_OK_' | i18n }}</button>
        </div>
    </script>

    <!-- Edit Modal -->
    <script type="text/ng-template" id="editSourceModal.html">
        <div class="modal-header">
            <h3>{{ '_MODAL_EDIT_SOURCE_' | i18n }}</h3>

        </div>
        <div class="modal-body">
            <form class="form-horizontal" role="form">
                <div class="form-group" >
                    <label class="col-sm-3 control-label">{{ '_SOURCE_' | i18n }}</label>
                    <div class="col-sm-9">
                        <input type="url" class="form-control" ng-model="ModalForm.url">
                    </div>
                </div>
                <div class="form-group" >
                    <label class="col-sm-3 control-label">{{ '_SOURCE_NAME_' | i18n }}</label>
                    <div class="col-sm-9">
                        <input type="text" class="form-control" ng-model="ModalForm.title">
                    </div>
                </div>
                <!--<div class="form-group" >
                    <label class="col-sm-3 control-label">{{ '_FREQUENCY_CHECK_' | i18n }}</label>
                    <div class="col-sm-9">
                        <input type="text" class="form" value="{{ModalForm.frequency.option}}" disabled>
                        <select ng-model="ModalForm.frequency" ng-options="frequency.option for frequency in ModalForm.frequencies"></select>
                    </div>
                </div>-->
                <div class="form-group" >
                    <label class="col-sm-3 control-label">{{ '_TAGS_' | i18n }}</label>
                    <div class="col-sm-9">
                        <input type="text" class="form-control" ng-model="ModalForm.tags">
                    </div>
                </div>
                
            </form>
        </div>

        <div class="modal-footer">
            <button class="btn btn-primary" ng-click="ok()">{{ '_OK_' | i18n }}</button>
            <button class="btn btn-warning" ng-click="cancel()">{{ '_CANCEL_' | i18n }}</button>
        </div>
    </script>
    <script type="text/ng-template" id="WatchModal.html">
        <div class="modal-header">
            <h3>{{ '_ADD_WATCH_' | i18n }}</h3>

            </div>
            <div class="modal-body">
                <form class="form-horizontal" role="form">
                    <div class="form-group" >
                        <label class="col-sm-3 control-label">{{ '_TITLE_' | i18n }}*</label>
                        <div class="col-sm-9">
                            <input type="text" class="form-control" ng-model="ModalForm.title">
                        </div>
                    </div>
                    <!-- <div class="form-group" >
                        <label class="col-sm-3 control-label">{{ '_SOURCE_' | i18n }}</label>
                        <div class="col-sm-9">
                            <input type="url" class="form-control" ng-model="ModalForm.url">
                        </div>
                    </div>-->

                    <div class="form-group" >
                        <label class="col-sm-3 control-label">{{ '_QUERY_' | i18n }}</label>
                        <div class="col-sm-9">
                            <input type="text" class="form-control" ng-model="ModalForm.query">
                        </div>
                    </div>

                    <div class="form-group" >
                        <label class="col-sm-3 control-label">{{ '_TAGS_' | i18n }}*</label>
                        <div class="col-sm-9">
                            <input type="text" class="form-control" ng-model="ModalForm.tags" placeholder="Separate tags with coma">
                        </div>
                    </div>

                    <div class="form-group" >
                        <label class="col-sm-3 control-label">{{ '_FOLDER_' | i18n }}*</label>
                        <div class="col-sm-9">
                            <select id="inputFolder" ng-model="ModalForm.folder" ng-options="folder.name for folder in folders"></select>
                        </div>
                    </div>

                    <div class="form-group" >
                        <label class="col-sm-3 control-label">{{ '_FREQUENCY_CHECK_' | i18n }}*</label>
                        <div class="col-sm-9">
                            <select id="inputFrequency" ng-model="ModalForm.frequency" ng-options="frequency.option for frequency in frequencies"></select>
                        </div>
                    </div>

                    <div class="form-group" >
                        <label class="col-sm-3 control-label">{{ '_NOTIFICATION_' | i18n }}*</label>

                        <div class="col-sm-9">
                            <select id="inputNotification" ng-model="ModalForm.notification" ng-options="notification.option for notification in notifications"></select>
                        </div>
                    </div>
                </form>
            </div>
        </div>
        <div class="modal-footer">
            <button class="btn btn-primary" ng-click="ok()">{{ '_OK_' | i18n }}</button>
            <button class="btn btn-warning" ng-click="cancel()">{{ '_CANCEL_' | i18n }}</button>
        </div>
    </script>
</div>

<div ng-controller="SourceListCtrl">
        <div class="row">
<!--           <div class="col-md-0">

            </div> -->
            <div class="col-md-12">
                <h3>{{ "_SOURCE_LIST_" | i18n }}</h3>
                <div class="gridStyleSource" ng-grid="gridOptionsSource">

                </div>
            </div>
        </div>

</div>
