<div class="alert alert-info" ng-if="!data">
	Sélectionnez un ID de surveillance dans la configuration du widget
</div>
<div ng-if="solrResult">
    <div id="docsFound">
        <div solr-result ng-show="solrResult.response.numFound">
            <table class="table table-striped">
                <tr ng-repeat="doc in solrResult.response.docs">
                    <td>
                        <div id="titleFound">
                            <a href="{{doc.url_s}}" target="_blank">{{doc.title_t}}</a>
                        </div>
                        <div id="dateFound">
                            date : {{doc.creation_dt|date:'dd-MM-yyyy hh:mm'}}
                        </div>
                        <!-- <div id="updateFound">
                            update : {{doc.updating_dt|date:'dd-MM-yyyy hh:mm'}}
                            {{doc}}
                        </div> -->
                        <div id="activityFound">
                            activité : {{doc.activity_s}}
                        </div>
                        <div id="domainFound">
                            domaine : {{doc.domain_s}}
                        </div>
                        <div id="queryFound">
                            requête : {{doc.query_s}}
                        </div>
                        <!-- <div id="folderFound">
                            dossier : {{doc.folder_s}}
                        </div> -->
                        <div id="notificationFound">
                            notification : {{doc.notification_s}}
                        </div>
                        <div id="contentFound">
                            <!-- <div ng-controller="CollapseSolrCtrl">
                                <div collapse="!isCollapsed">
                                        <span ng-click="isCollapsed = !isCollapsed">
                                           &gt;&gt;&gt;&gt;
                                        </span>
                                </div>
                                <div collapse="isCollapsed">
                                        <span ng-click="isCollapsed = !isCollapsed">
                                        {{solrResult.highlighting[doc.id].content_en[0]}} &lt;&lt;&lt;&lt;
                                        </span>
                                </div>
                            </div> -->
                        </div>
                    </td>
                </tr>
            </table>
        </div>
    </div>
</div>