<div class="alert alert-info" ng-if="!data">
	Sélectionnez un ID de surveillance dans la configuration du widget
</div>
<div id="solrResult">
    <div id="docsFound">

        <div solr-result ng-show="solrResult.success.response.numFound">
            <!-- <div id="activityFound">
                activité : {{watchData.activity_s}}
            </div>
            <div id="domainFound">
                domaine : {{watchData.domain_s}}
            </div> -->
            <div id="queryFound">
                requête : {{watchData.query_s}}
            </div>
            <div id="folderFound">
                dossier : {{watchData.folder_s}}
            </div>
            <div id="notificationFound">
                notification : {{watchData.notification_s}}
            </div><br>
            <table class="table table-striped">
                <tr ng-repeat="doc in solrResult.success.response.docs">
                    <td>
                        <div id="titleFound">
                            <a href="{{doc.url_s}}" target="_blank">{{doc.title_t}}</a>
                        </div>
                        <div id="dateFound">
                            date : {{doc.date_dt|date:'dd-MM-yyyy HH:mm'}}
                        </div>
                        <!-- <div id="updateFound">
                            update : {{doc.updating_dt|date:'dd-MM-yyyy HH:mm'}}
                            {{doc}}
                        </div> -->
                        <div id="contentFound">
                            <div ng-controller="CollapseSolrCtrl">
                                <div collapse="!isCollapsed">
                                    <a ng-click="isCollapsed = !isCollapsed">
                                       Afficher&NonBreakingSpace;&gt;
                                    </a>
                                </div>
                                <div collapse="isCollapsed">
                                    <span ng-click="isCollapsed = !isCollapsed">
                                        {{solrResult.success.highlighting[doc.id].content_en[0]}}
                                    </span>
                                    <a ng-click="isCollapsed = !isCollapsed">
                                         &lt;&NonBreakingSpace;Masquer
                                    </a>
                                </div>
                            </div>
                        </div>
                    </td>
                </tr>
            </table>
        </div>
    </div>
</div>