<div class="alert alert-info" ng-if="!data">
    {{ '_SELECTED_WATCH_' | i18n }}
</div>
<div id="solrResult">
    <div id="docsFound">

        <div solr-result ng-show="solrResult.success.response.numFound">
            <!-- <div id="activityFound">
                activité : {{watchData.activity_s}}
            </div>
            <div id="domainFound">
                domaine : {{watchData.domain_s}}
            </div> -->
            <div id="queryFound">
                {{ '_QUERY_' | i18n }} : {{watchData.query_s}}
            </div>
            <div id="folderFound">
                {{ '_FOLDER_' | i18n }} : {{watchData.folder_s}}
            </div>
            <div id="notificationFound">
                {{ '_NOTIFICATION_' | i18n }} : {{watchData.notification_s}}
            </div>
            <div id="TagsFound">
                {{ '_TAGS_' | i18n }} : <span ng-repeat="tag in watchData.tags_ss"><u>{{tag}}</u>,&nbsp;</span>
            </div><br>
            <table class="table table-striped">
                <tr ng-repeat="doc in solrResult.success.response.docs">
                    <td>
                        <div id="titleFound">
                            <a href="{{doc.url_s}}" target="_blank">{{doc.title_t}}</a>
                        </div>
                        <div id="dateFound">
                            {{ '_DATE_' | i18n }} : {{doc.date_dt|date:'dd-MM-yyyy HH:mm'}}
                        </div>
                        <!-- <div id="updateFound">
                            update : {{doc.updating_dt|date:'dd-MM-yyyy HH:mm'}}
                            {{doc}}
                        </div> -->
                        <div id="contentFound">
                            <div ng-controller="CollapseSolrCtrl">
                                <div collapse="!isCollapsed">
                                    <a ng-click="isCollapsed = !isCollapsed">
                                       {{ '_SHOW_' | i18n }}&NonBreakingSpace;&gt;
                                    </a>
                                </div>
                                <div collapse="isCollapsed">
                                    <span ng-click="isCollapsed = !isCollapsed">
                                        {{solrResult.success.highlighting[doc.id].content_en[0]}}
                                    </span>
                                    <a ng-click="isCollapsed = !isCollapsed">
                                         &lt;&NonBreakingSpace;{{ '_HIDE_' | i18n }}
                                    </a>
                                </div>
                            </div>
                        </div>
                    </td>
                    <td>
                        <button ng-show="doc.validated_b == false" type="button" class="btn btn-xs" ng-click="validateDoc(doc,true,'solr')" tooltip="{{ '_VALIDATE_DOC_' | i18n }}"> <span class="glyphicon glyphicon-saved"></span></button>
                        <button ng-show="doc.validated_b == true" type="button" class="btn btn-xs" ng-click="validateDoc(doc,false,'solr')" tooltip="{{ '_UNVALDIATE_DOC_' | i18n }}"> <span class="glyphicon glyphicon-saved text-primary"></span></button>
                        <button type="button" class="btn btn-xs" ng-click="shareDoc(doc,'solr')" tooltip="{{ '_SHARE_DOCUMENT_' | i18n }}"> <span class="glyphicon glyphicon-send"></span></button>
                    </td>
                </tr>
            </table>
        </div>
    </div>
</div>