<div ng-controller="headerCtrl">
  <div ng-include src="template.url"></div>
</div>

<ol class="breadcrumb text-center">
    <li><a href="#/home">{{ '_SERVICE_NAME_' | i18n }}</a></li>
    <li><a>{{ '_ORGANIZE_BAR_ITEM_' | i18n }}</a></li>
    <li class="active">{{ '_ORGANIZE_BAR_PROFILE_' | i18n }}</li>
</ol>

<h1>{{ '_SETTINGS_H1_' | i18n }}</h1>
<div ng-controller="ProfileSettingCtrl">
  <form ng-submit="modifyPassword()" name="modifyFrom" role="form" class="form-horizontal">
    <div class="form-group">
      <label for="password" class="control-label col-sm-2">{{ '_PASSWORD_' | i18n }}</label>
      <div class="col-sm-3">
        <input type="password" ng-blur="releaseError()" data-ng-model="password" placeholder="{{ '_PASSWORD_' | i18n }}" name="password" class="form-control"/>
      </div>
    </div>
    <div class="form-group">
      <label for="passwordConfirm" class="control-label col-sm-2">{{ '_CONFIRM_PASSWORD_' | i18n }}</label>
      <div class="col-sm-3">
        <input type="password" ng-blur="releaseError()" data-ng-model="passwordConfirm" placeholder="{{ '_CONFIRM_PASSWORD_' | i18n }}" name="passwordConfirm" class="form-control"/>
      </div>
    </div>
    <div class="form-group">
      <div class="col-sm-offset-2 col-sm-10">
        <button type="submit" data-ng-disabled="modifyForm.$invalid" class="btn btn-default" name="validate">{{ '_EDIT_' | i18n }}</button>
      </div>
    </div>
    <div class="alert alert-success" ng-show="isSuccessPassword">
      <strong>Succès :&nbsp;</strong><span>{{messagePassword}}</span>
    </div>
    <div class="alert alert-danger" ng-show="isErrorPassword">
      <strong>erreur :&nbsp;</strong><span>{{errorMessagePassword}}</span>
    </div>
  </form>

  <form ng-submit="modifyEmail()" name="modifyFrom" role="form" class="form-horizontal">
    <div class="form-group">
      <label for="email" class="control-label col-sm-2">{{ '_EMAIL_' | i18n }}</label>
      <div class="col-sm-3">
        <input type="email" ng-blur="releaseError()" data-ng-model="email" placeholder="{{ '_EMAIL_' | i18n }}" name="email" 
         class="form-control"/>
      </div>
    </div>
    <div class="form-group">
      <div class="col-sm-offset-2 col-sm-10">
        <button type="submit" data-ng-disabled="modifyForm.$invalid" class="btn btn-default" name="validate">{{ '_EDIT_' | i18n }}</button>
      </div>
    </div>
    <div class="alert alert-success" ng-show="isSuccessMail">
      <strong>Succès :&nbsp;</strong><span>{{messageMail}}</span>
    </div>
    <div class="alert alert-danger" ng-show="isErrorMail">
      <strong>erreur :&nbsp;</strong><span>{{errorMessageMail}}</span>
    </div>
  </form>
</div>
