<!DOCTYPE html>
<html>
<head>
    <title> </title>
</head>
<body>
<!--
Local booklet
<p> <a href="javascript:(function(){s=document.createElement(&quot;script&quot;);s.setAttribute('src',&quot;http://localhost/Current/webso-gui/app/scripts/barlet.js&quot;);document.body.appendChild(s);})();">Local booklet</a> </p>

-->

<!--
Albator booklet
-->
<div ng-controller="headerCtrl">
  <div ng-include src="template.url"></div>
</div>

<p> <a href="javascript:(function(){s=document.createElement(&quot;script&quot;);s.setAttribute('src',&quot;http://albator/web/webso-gui/app/scripts/barlet.js&quot;);document.body.appendChild(s);})();"> Booklet</a> </p>

</body>
</html>

