<div ng-controller="headerCtrl">
    <div ng-include src="template.url"></div>
</div>


<div id="search">
    <div class="row">
        <div class="col-md-12">
            <ol class="breadcrumb text-center">
                <li><a href="#/home">Webso</a></li>
                <li class="active">Rechercher</li>
                <!-- <li class="active"> - </li> -->
            </ol>
        </div>
    </div>
    <div ng-controller="FolderSearchCtrl">
        <div class="alert alert-danger" ng-show="isError">
            <strong>&nbsp;</strong><span>{{errorMessage}}</span>
        </div>
        <div class="row">
            <!-- searchNav box -->
            <div class="col-md-3">
                <table class="table table-condensed">
                <tr ng-repeat="searchGroup in searchNav">
                <td>
                    <div ng-show="searchGroup.checked == false"><button type="button" class="btn btn-xs" ng-click="groupCheck(searchGroup.name)" > <span class="glyphicon glyphicon-chevron-right"></span></button> &nbsp;  {{searchGroup.value}} </div>
                    <div ng-show="searchGroup.checked == true"><button type="button" class="btn btn-xs" ng-click="groupCheck(searchGroup.name)" > <span class="glyphicon glyphicon-chevron-down"></span></button>&nbsp; {{searchGroup.value}} </div>
                    <!-- <input type="checkbox" ng-model="searchGroup.checked" ng-click="groupCheck(searchGroup.name)">&nbsp; {{searchGroup.value}} 
                    <span ng-click="groupCheck(searchGroup.name)"> &nbsp; {{searchGroup.value}} </span>-->
                    <div ng-show="searchGroup.facetsGroup">
                    <table ng-show="searchGroup.checked" class="table table-condensed">
                        <tr ng-repeat="facet in searchGroup.facetsGroup">
                            <td> <div ng-show="facet.visible">
                                    <div ng-show="facet.checked == false"><button type="button" class="btn btn-xs" ng-click="facetCheck(facet)" > <span class="glyphicon glyphicon-chevron-right"></span></button>&nbsp;  {{facet.value}}</div>
                                    <div ng-show="facet.checked == true"><button  type="button" class="btn btn-xs" ng-click="facetCheck(facet)" > <span class="glyphicon glyphicon-chevron-down"></span></button>&nbsp;  {{facet.value}}</div>

                                <!-- <input type="checkbox" ng-model="facet.checked">&nbsp;  {{facet.value}} -->
                                </div>
                                <table ng-show="facet.checked" class="table table-condensed">
                                    <tr ng-repeat="item in facet.items">
                                        <td><input type="checkbox" ng-model="item.checked" ng-click="itemCheck(item)"> &nbsp; {{item.value}}: {{item.nb}}</input></td>
                                    </tr>
                                </table>
                            </td>
                        </tr>
                    </table>
                    </div>

                    <!--  selectgroup for online search-->
                    <div ng-show="searchGroup.selectGroup">
                    <table ng-show="searchGroup.checked" class="table table-condensed">
                        <tr ng-repeat="select in searchGroup.selectGroup">
                            <td><input type="checkbox" ng-model="select.checked" ng-change="selectCheck(select)"> &nbsp; {{select.value}}</input></td>
                        </tr>
                    </table>
                    </div>
                </td></tr>
               </table>
            </div>

            <!-- search results box -->
            <div class="col-md-9">

                <form class="form-horizontal" ng-submit="doSearch()">
                    <input type="text" placeholder="Chercher" ng-model="searchTerm">
                    <button class="btn btn-default" ng-click="doSearch()" name="searchButton" analytics-on='click' analytics-event='Search' analytics-label='Search_folder' analytics-category='Passive'><i class="icon-search"></i>Chercher</button>
                </form>


                <!-- online results -->
                <div ng-show='searchNav[idx.online].checked' id="solrResult">
                    <div id="numberFound">
                        <div results-number ng-show="onlineResult.count>0">
                            {{onlineResult.count}} résultats pour la requête <b>'{{searchTerm}}'</b> dans
                            <span ng-repeat="(key, value) in onlineSourceList">
                                {{value}},  &NonBreakingSpace;
                            </span>
                            <button type="button" class="btn btn-xs" ng-click="waitSource(currentOnlineSearchUrl)" tooltip="Ajouter en source en attente la recherche courante"> <span class="glyphicon glyphicon-plus"></span></button>

                            <br>
                        </div>
                    </div>

                    <div id="docsFound">
                        <div onlineResult ng-show="onlineResult.count">
                            <table class="table table-striped">

                                <tr ng-repeat="online in onlineResult.res | orderBy: 'pubDate' ">
                                    <td>

                                        <div id="titleFound">
                                            <a href="{{online.link}}" target="_blank" ng-bind-html="online.title"></a>
                                        </div>
                                        <div id="contentFound">

                                            <p ng-bind-html="online.description"></p>

                                        </div>
                                        <div id="urlFound">
                                            <span ng-if="online.link.length<100">
                                            {{online.link}}
                                            </span>
                                            <span ng-if="online.link>100">
                                                {{online.link| limitTo:100}}...
                                            </span>
                                        </div>

                                        <div id="dateFound">
                                            {{online.pubDate|date:'dd-MM-yyyy hh:mm'}}
                                            <div id="actionList">
                                                <button type="button" class="btn btn-xs" ng-click="validateDoc(online,true,'online')" tooltip="Valider le document"> <span class="glyphicon glyphicon-saved"></span></button>

                                            </div>


                                        </div>

                                    </td>
                                </tr>
                            </table>

                        </div>

                    </div>
                </div>


                <!-- collect feeds results -->
                <div ng-show='searchNav[idx.feeds].checked' id="solrResult">
                    <div id="numberFound">
                        <div results-number ng-show="feedResult.count>0">
                            {{feedResult.count}} résultats pour la requête <b>'{{searchTerm}}'</b>
                            <br>
                        </div>
                    </div>

                    <div id="docsFound">
                        <div feedResult ng-show="feedResult.count">
                            <table class="table table-striped">

                                <tr ng-repeat="feed in feedResult.res">
                                    <td>

                                        <div id="titleFound">
                                            <a href="{{feed.link}}" target="_blank" ng-bind-html="feed.title"></a>
                                        </div>
                                        <div id="contentFound" ng-bind-html="feed.description">

                                        </div>
                                        <div id="urlFound">
                                            <span ng-if="feed.link.length<100">
                                            {{feed.url}}
                                            </span>
                                            <span ng-if="feed.link>100">
                                                {{feed.link| limitTo:100}}...
                                            </span>
                                        </div>

                                        <div id="dateFound">
                                            {{feed.pubDate|date:'dd-MM-yyyy hh:mm'}}
                                            <div id="actionList">
                                                <button type="button" class="btn btn-xs" ng-click="addFeed(feed)" tooltip="Ajouter le flux"> <span class="glyphicon glyphicon-plus"></span></button>
                                                <button type="button" class="btn btn-xs" ng-click="seeFeed(feed)" tooltip="Voir le flux"> <span class="glyphicon glyphicon-search"></span></button>
                                            </div>


                                        </div>

                                    </td>
                                </tr>
                            </table>

                        </div>

                    </div>
                </div>

                <!-- solr results -->
                <div ng-show='searchNav[idx.validation].checked || searchNav[idx.watch].checked || searchNav[idx.source].checked' id="solrResult">

                    <div id="numberFound">
                        <div solr-results-number ng-show="solrResult.response">
                            Page: {{currentPage}} de {{solrResult.response.numFound}} résultats pour la requête <b>'{{solrResult.responseHeader.params.q}}'</b> en {{solrResult.responseHeader.QTime}} ms
                            <br>
                        </div>
                        <div ng-if="affichageSource" align="right">
                            Source: {{sourceTitle}} - <a ng-click="resetList()">Revenir aux sources</a>
                        </div>
                        <div ng-if="affichageWaiting" align="right">
                            {{waitingTitle}} - <a ng-click="resetWaiting()">Revenir aux recherches en attentes</a>
                        </div>
                    </div>
                    <div id="docsFound">
                        <div onlineResult ng-show="onlineResult.count">
                            <table class="table table-striped">
                                <tr ng-repeat="online in onlineResult.res | orderBy: 'pubDate' ">
                                    <td>
                                        <div id="titleFound">
                                            <a href="{{online.link}}" target="_blank" ng-bind-html="online.title"></a>
                                        </div>

                                        <div id="contentFound">
                                            <p ng-bind-html="online.description"></p>
                                        </div>

                                        <div id="urlFound">
                                            <span ng-if="online.link.length<100">
                                            {{online.link}}
                                            </span>
                                            <span ng-if="online.link>100">
                                                {{online.link| limitTo:100}}...
                                            </span>
                                        </div>

                                        <div id="dateFound">
                                            {{online.pubDate|date:'dd-MM-yyyy hh:mm'}}
                                            <div id="actionList">
                                                <button type="button" class="btn btn-xs" ng-click="validateDoc(online,true,'online')" tooltip="Valider le document"> <span class="glyphicon glyphicon-saved"></span></button>
                                                <button type="button" class="btn btn-xs" ng-click="shareDoc(online,'online')" tooltip="Partager le document"> <span class="glyphicon glyphicon-envelope"></span></button>
                                            </div>
                                        </div>
                                    </td>
                                </tr>
                            </table>
                        </div>
                        <div solr-result ng-show="solrResult.response.numFound">
                            <table class="table table-striped">

                                <tr ng-repeat="doc in solrResult.response.docs">
                                    <td>

                                        <div ng-if="doc.waiting_b" id="titleFound">
                                            <a ng-click="seeWaitings(doc.title_t, doc.query_s, doc.ressources_s)">{{doc.title_t}}</a>
                                        </div>
                                        <div ng-if="!searchNav[idx.source].checked" id="titleFound">
                                            <a href="{{doc.url_s}}" target="_blank">{{doc.title_t}}</a>
                                        </div>
                                        <div ng-if="(searchNav[idx.source].checked) && ((doc.source_type_s=='rss') || (doc.source_type_s=='RSS'))" id="titleFound">
                                            Rss: <a ng-click="seeDocuments(doc.id, doc.title_t)">{{doc.title_t}}</a>
                                        </div>
                                        <div ng-if="(searchNav[idx.source].checked) && (doc.source_type_s=='HTTP')" id="titleFound">
                                            Site: <a href="{{doc.url_s}}" target="_blank">{{doc.title_t}}</a>
                                        </div>
                                        <div id="contentFound" ng-if="(doc.source_type_s=='rss') || affichageSource || !(searchNav[idx.source].checked)">
                                            <div ng-controller="CollapseSolrCtrl">

                                                <div collapse="!isCollapsed">
                                                        <span ng-click="isCollapsed = !isCollapsed">
                                                        <!-- {{solrResult.response.highlighting}}[{{doc.id}}][]{{ doc.content_en | limitTo:300 }} &gt;&gt;&gt;&gt; -->
                                                            <span ng-if="solrResult.highlighting[doc.id].content_en[0]" ng-bind-html="solrResult.highlighting[doc.id].content_en[0]+'...'"></span>

                                                            <!-- <span ng-if="solrResult.highlighting[doc.id].content_en[0]=== \"undefined\"">{{ doc.content_en | limitTo:500 }} &gt;&gt;&gt;&gt;</span> -->

                                                            <!-- <span ng-if="solrResult.highlighting[doc.id].content_en[1]" ng-bind-html="solrResult.highlighting[doc.id].content_en[1]+"></span>
                                                            <span ng-if="solrResult.highlighting[doc.id].content_en[2]" ng-bind-html="solrResult.highlighting[doc.id].content_en[2]+"></span> -->

                                                           &gt;&gt;&gt;&gt;
                                                            <!-- <span ng-bind="getSummary(doc.id)"></span> -->
                                                        </span>
                                                </div>
                                                <div collapse="isCollapsed">
                                                        <span ng-click="isCollapsed = !isCollapsed">
                                                        {{doc.content_en}} &lt;&lt;&lt;&lt;
                                                        </span>
                                                </div>

                                            </div>
                                        </div>
                                        <div ng-if="doc.source_type_s == 'online'" id="urlFound">
                                            Recherche : {{doc.query_s}}<br>
                                            Sources : {{doc.ressources_s}}<br>
                                            Ajouté le : {{doc.creation_dt|date:'dd-MM-yyyy hh:mm'}}<br>
                                        </div>
                                        <div ng-if="!(doc.source_type_s == 'online')" id="urlFound">
                                            <span ng-if="doc.url_s.length<100">
                                            {{doc.url_s}}
                                            </span>
                                            <span ng-if="doc.url_s.length>100">
                                                {{doc.url_s| limitTo:100}}...
                                            </span>
                                        </div>

                                        <div id="dateFound">
                                            {{doc.date_dt|date:'dd-MM-yyyy hh:mm'}}
                                            <div id="actionList">
                                                <button ng-show="doc.validated_b == false" type="button" class="btn btn-xs" ng-click="validateDoc(doc,true,'solr')" tooltip="Valider le document"> <span class="glyphicon glyphicon-saved"></span></button>
                                                <button ng-show="doc.validated_b == true" type="button" class="btn btn-xs" ng-click="validateDoc(doc,false,'solr')" tooltip="Invalider le document"> <span class="glyphicon glyphicon-saved text-primary"></span></button>
                                                <button ng-show="doc.read_b == false" type="button" class="btn btn-xs" ng-click="setRead(doc.id,true)" tooltip="Mettre comme lu"> <span class="glyphicon glyphicon-eye-open"></span></button>
                                                <button ng-show="doc.read_b == true" type="button" class="btn btn-xs" ng-click="setRead(doc.id,false)" tooltip="Mettre comme non-lu"> <span class="glyphicon glyphicon-eye-close"></span></button>

                                                <!-- <div class="pull-right"><button ng-show="(doc.type_s == 'document')||(doc.type_s == 'validation')||(doc.source_type_s == 'online')" type="button" class="btn btn-xs" ng-click="deleteDoc(doc.id)" tooltip="Effacer le document"> <span class="glyphicon glyphicon-trash"></span></button></div> -->
                                            </div>


                                        </div>

                        </td>
                        </tr>
                        </table>
                        <pagination max-size="maxSize" class="pagination-sm" boundary-links="true" rotate="false" ng-model="currentPage" ng-change="pageChanged()" total-items="totalItems"></pagination>
                    </div>
                </div>
            </div>
        </div>
        </div>
        <!-- validation Modal  -->
        <script type="text/ng-template" id="validateModal.html">
            <div class="modal-header">
                <h3> Validation de document</h3>
            </div>
            <div class="modal-body">


                <form class="form-horizontal" role="form">
                    <div class="form-group" >
                        <label class="col-sm-2 control-label"> Titre </label>
                        <div class="col-sm-10">
                            <input type="text" class="form-control" ng-model="validationForm.title">
                        </div>
                    </div>
                    <div class="form-group" >
                        <label class="col-sm-2 control-label"> Url </label>
                        <div class="col-sm-10">
                            <input type="url" class="form-control" ng-model="validationForm.url">
                        </div>
                    </div>
                    <div class="form-group" >
                        <label class="col-sm-2 control-label"> Tags </label>
                        <div class="col-sm-10">
                            <input type="text" class="form-control" ng-model="validationForm.tags">
                        </div>
                    </div>
                    <div class="form-group" >
                        <label class="col-sm-2 control-label"> Content </label>
                        <div class="col-sm-10">
                            <textarea class="form-control" rows="6" ng-model="validationForm.content"></textarea>
                        </div>
                    </div>
                    <div class="form-group" >
                        <label class="col-sm-2 control-label"> Commentaire </label>
                        <div class="col-sm-10">
                            <textarea class="form-control" rows="6" ng-model="validationForm.comment"></textarea>
                        </div>
                    </div>
                    <div class="form-group" >
                        <label class="col-sm-2 control-label"> Dossiers </label>
                        <div class="col-sm-10">

                            <select ng-model="validationForm.folder" ng-options="folder as folder.name for folder in folders"></select>
                            <!-- <pre>{{validationFolder.id}}</pre>
                            <select id="validationFolder" name="validationFolder" ng-model="validationFolder">
                                <option ng-repeat="folder in folders" value="{{folder.id}}">{{folder.name}}</option>
                            </select> -->
                        </div>
                    </div>
                </form>

            </div>
            <div class="modal-footer">
                <button class="btn btn-primary" ng-click="ok()">OK</button>

                <button class="btn btn-warning" ng-click="cancel()">Cancel</button>
            </div>
        </script>

        <!-- modal for validate rss source -->
        <script type="text/ng-template" id="validateFeedModal.html">
            <div class="modal-header">
            <h3> Ajout de source RSS</h3>
            </div>
            <div class="modal-body">


                <form class="form-horizontal" role="form">
                    <div class="form-group" >
                        <label class="col-sm-2 control-label"> Titre </label>
                        <div class="col-sm-10">
                            <input type="text" class="form-control" ng-model="validationForm.title">
                        </div>
                    </div>
                    <div class="form-group" >
                        <label class="col-sm-2 control-label"> Url </label>
                        <div class="col-sm-10">
                            <input type="url" class="form-control" ng-model="validationForm.url">
                        </div>
                    </div>
                    <div class="form-group" >
                        <label class="col-sm-2 control-label"> Fréquence d'actualisation </label>
                        <div class="col-sm-10">
                            <select ng-model="validationForm.frequency" ng-options="frequency.option for frequency in frequencies" require></select>
                        </div>
                    </div>
                    <div class="form-group" >
                        <label class="col-sm-2 control-label"> Tags </label>
                        <div class="col-sm-10">
                            <input type="text" class="form-control" ng-model="validationForm.tags">
                        </div>
                    </div>
                    <div class="form-group" >
                        <label class="col-sm-2 control-label"> Domaine </label>
                        <div  class="col-sm-10">
                            <select id="inputDomain" name="inputDomain" ng-model="validationForm.domain" ng-options="domain.name for domain in domains" require></select>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-2 control-label"> Secteur d'activité </label>
                        <div class="col-sm-10">
                            <select id="inputActivity" name="inputActivity" ng-model="validationForm.activity" ng-options="activity.name for activity in validationForm.domain.activites"></select>
                            {{activity}}
                        </div>
                    </div>
                </form>

            </div>
            <div class="modal-footer">
                <button class="btn btn-primary" ng-click="ok()">OK</button>

                <button class="btn btn-warning" ng-click="cancel()">Cancel</button>
            </div>
        </script>


        <!-- modal for validate rss source -->
        <script type="text/ng-template" id="addOnlineSearchModal.html">
            <div class="modal-header">
                <h3> Ajout de la recherche en ligne courante comme source en attente</h3>
            </div>
            <div class="modal-body">


                <form class="form-horizontal" role="form">
                    <div class="form-group" >
                        <label class="col-sm-2 control-label"> Titre </label>
                        <div class="col-sm-10">
                            <input type="text" class="form-control" ng-model="validationForm.title">
                        </div>
                    </div>
                    <div class="form-group" >
                        <label class="col-sm-2 control-label"> Url </label>
                        <div class="col-sm-10">
                            <input type="url" class="form-control" ng-model="validationForm.url">
                        </div>
                    </div>
                    <div class="form-group" >
                        <label class="col-sm-2 control-label"> Fréquence d'actualisation </label>
                        <div class="col-sm-10">
                            <select ng-model="validationForm.frequency" ng-options="frequency.option for frequency in frequencies" require></select>
                        </div>
                    </div>
                    <div class="form-group" >
                        <label class="col-sm-2 control-label"> Tags </label>
                        <div class="col-sm-10">
                            <input type="text" class="form-control" ng-model="validationForm.tags">
                        </div>
                    </div>
                    <div class="form-group" >
                        <label class="col-sm-2 control-label"> Domaine </label>
                        <div  class="col-sm-10">
                            <select id="inputDomain" name="inputDomain" ng-model="validationForm.domain" ng-options="domain.name for domain in domains" require></select>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-2 control-label"> Secteur d'activité </label>
                        <div class="col-sm-10">
                            <select id="inputActivity" name="inputActivity" ng-model="validationForm.activity" ng-options="activity.name for activity in validationForm.domain.activites"></select>
                            {{activity}}
                        </div>
                    </div>
                </form>

            </div>
            <div class="modal-footer">
                <button class="btn btn-primary" ng-click="ok()">OK</button>

                <button class="btn btn-warning" ng-click="cancel()">Cancel</button>
            </div>
        </script>

        <!-- share info Modal  -->
        <script type="text/ng-template" id="shareModal.html">
            <div class="modal-header">
                <h3> Partage de document</h3>
            </div>
            <div class="modal-body">


                <form class="form-horizontal" role="form">
                    <div class="form-group" >
                        <label class="col-sm-2 control-label"> Titre </label>
                        <div class="col-sm-10">
                            <input type="text" class="form-control" ng-model="shareForm.title">
                        </div>
                    </div>
                    <div class="form-group" >
                        <label class="col-sm-2 control-label"> Url </label>
                        <div class="col-sm-10">
                            <input type="url" class="form-control" ng-model="shareForm.url">
                        </div>
                    </div>
                    <div class="form-group" >
                        <label class="col-sm-2 control-label"> Tags </label>
                        <div class="col-sm-10">
                            <input type="text" class="form-control" ng-model="shareForm.tags">
                        </div>
                    </div>
                    <div class="form-group" >
                        <label class="col-sm-2 control-label"> Content </label>
                        <div class="col-sm-10">
                            <textarea class="form-control" rows="6" ng-model="shareForm.content"></textarea>
                        </div>
                    </div>
                    <div class="form-group" >
                        <label class="col-sm-2 control-label"> Commentaire </label>
                        <div class="col-sm-10">
                            <textarea class="form-control" rows="6" ng-model="shareForm.comment"></textarea>
                        </div>
                    </div>
                    <div class="form-group" >
                        <label class="col-sm-2 control-label"> Dossiers </label>
                        <div class="col-sm-10">

                            <select ng-model="shareForm.folder" ng-options="folder as folder.name for folder in folders"></select>
                            <!-- <pre>{{validationFolder.id}}</pre>
                            <select id="validationFolder" name="validationFolder" ng-model="shareForm">
                                <option ng-repeat="folder in folders" value="{{folder.id}}">{{folder.name}}</option>
                            </select> -->
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-2 control-label"> addresse email </label>
                        <div class="col-sm-10">
                            <input type="email" class="form-control" rows="6" ng-model="shareForm.mail">
                        </div>
                    </div>


                </form>

            </div>
            <div class="modal-footer">
                <button class="btn btn-primary" ng-click="ok()">OK</button>

                <button class="btn btn-warning" ng-click="cancel()">Cancel</button>
            </div>
        </script>



        <!-- modal to see rss feed-->
        <script type="text/ng-template" id="seeFeedModal.html">
            <div class="modal-header">
                <h4> Flux RSS </h4>
                <h5> {{item.url}} </h5>
            </div>
            <div class="modal-body">
                    <div class="scroll-area" data-spy="scroll" data-target="#myNavbar" data-offset="0">
                        {{checkSourceResult.count}} élément(s) trouvé(s)
                        <div ng-repeat="item in checkSourceResult.items">
                            <div class row>
                                <h4>{{item.title}}</h4>

                                <p>{{item.description}}</p>
                            </div>
                        </div>
                    </div>
            </div>
             <div class="modal-footer">
                <button class="btn btn-primary" ng-click="ok()">OK</button>
            </div>
        </script>
    </div>
</div>


