<div ng-controller="headerCtrl">
    <div ng-include src="template.url"></div>
</div>


<div id="search">
    <div class="row">
        <div class="col-md-12">
            <ol class="breadcrumb text-center">
                <li><a href="#/home">Webso</a></li>
                <li><a href="#">Rechercher</a></li>
                <li class="active"> - </li>
            </ol>
        </div>
    </div>
    <div ng-controller="FolderSearchCtrl">
        <div class="alert alert-danger" ng-show="isError">
            <strong>&nbsp;</strong><span>{{errorMessage}}</span>
        </div>
        <div class="row">
            <!-- searchNav box -->
            <div class="col-md-3">
                <table class="table table-condensed">
                <tr ng-repeat="searchGroup in searchNav">
                <td>
                    <div ng-show="searchGroup.checked == false"><button type="button" class="btn btn-xs" ng-click="groupCheck(searchGroup.name)" > <span class="glyphicon glyphicon-chevron-right"></span></button> &nbsp;  {{searchGroup.value}} </div>
                    <div ng-show="searchGroup.checked == true"><button type="button" class="btn btn-xs" ng-click="groupCheck(searchGroup.name)" > <span class="glyphicon glyphicon-chevron-down"></span></button>&nbsp; {{searchGroup.value}} </div>
                    <!-- <input type="checkbox" ng-model="searchGroup.checked" ng-click="groupCheck(searchGroup.name)">&nbsp; {{searchGroup.value}} -->

                    <table ng-show="searchGroup.checked" class="table table-condensed">
                        <tr ng-repeat="facet in searchGroup.facetsGroup">
                            <td> <div ng-show="facet.visible">
                                <div ng-show="facet.checked == false"><button type="button" class="btn btn-xs" ng-click="facetCheck(facet)" > <span class="glyphicon glyphicon-chevron-right"></span></button>&nbsp;  {{facet.value}}</div>
                                <div ng-show="facet.checked == true"><button  type="button" class="btn btn-xs" ng-click="facetCheck(facet)" > <span class="glyphicon glyphicon-chevron-down"></span></button>&nbsp;  {{facet.value}}</div>

                                <!-- <input type="checkbox" ng-model="facet.checked">&nbsp;  {{facet.value}} -->
                                </div>
                                <table ng-show="facet.checked" class="table table-condensed">
                                    <tr ng-repeat="item in facet.items">
                                        <td><input type="checkbox" ng-model="item.checked" ng-click="itemCheck(item)"> &nbsp; {{item.value}}: {{item.nb}}</input></td>

                                </table>
                            </td>
                        </tr>
                    </table>
                </td></tr>
               </table>
            </div>

            <!-- search results box -->
            <div class="col-md-9">

                <form class="form-horizontal" ng-submit="doSearch()">
                    <input type="text" placeholder="Chercher" ng-model="searchTerm">
                    <button class="btn" ng-click="doSearch()" name="searchButton" analytics-on='click' analytics-event='Search' analytics-label='Search_folder' analytics-category='Passive'><i class="icon-search"></i>Chercher</button>
                </form>

                <div id="numberFound">
                    <div solr-results-number ng-show="solrResult.response">
                        Page: {{currentPage}} de {{solrResult.response.numFound}} résultats pour la requête <b>'{{solrResult.responseHeader.params.q}}'</b> en {{solrResult.responseHeader.QTime}} ms
                        <br>
                    </div>
                </div>
                <div id="docsFound">
                    <div solr-result ng-show="solrResult.response.numFound">
                        <table class="table table-striped">

                            <tr ng-repeat="doc in solrResult.response.docs">
                                <td>


                                    <div id="titleFound">
                                        <a href="{{doc.url_s}}" target="_blank">{{doc.title_t}}</a>
                                    </div>
                                    <div id="contentFound">
                                        <div ng-controller="CollapseSolrCtrl">

                                            <div collapse="!isCollapsed">
                                                    <span ng-click="isCollapsed = !isCollapsed">
                                                    <!-- {{solrResult.response.highlighting}}[{{doc.id}}][]{{ doc.content_en | limitTo:300 }} &gt;&gt;&gt;&gt; -->
                                                        <span ng-if="solrResult.highlighting[doc.id].content_en[0]" ng-bind-html="solrResult.highlighting[doc.id].content_en[0]+'...'"></span>

                                                        <!-- <span ng-if="solrResult.highlighting[doc.id].content_en[0]=== \"undefined\"">{{ doc.content_en | limitTo:500 }} &gt;&gt;&gt;&gt;</span> -->

                                                        <!-- <span ng-if="solrResult.highlighting[doc.id].content_en[1]" ng-bind-html="solrResult.highlighting[doc.id].content_en[1]+"></span>
                                                        <span ng-if="solrResult.highlighting[doc.id].content_en[2]" ng-bind-html="solrResult.highlighting[doc.id].content_en[2]+"></span> -->

                                                       &gt;&gt;&gt;&gt;
                                                        <!-- <span ng-bind="getSummary(doc.id)"></span> -->
                                                    </span>



                                            </div>
                                            <div collapse="isCollapsed">
                                                    <span ng-click="isCollapsed = !isCollapsed">
                                                    {{doc.content_en}} &lt;&lt;&lt;&lt;
                                                    </span>
                                            </div>

                                        </div>
                                    </div>
                                    <div id="urlFound">
                                        <span ng-if="doc.url_s.length<100">
                                        {{doc.url_s}}
                                        </span>
                                        <span ng-if="doc.url_s.length>100">
                                            {{doc.url_s| limitTo:100}}...
                                        </span>
                                    </div>

                                    <div id="dateFound">
                                        {{doc.date_dt|date:'dd-MM-yyyy hh:mm'}}
                                        <div id="actionList">
                                            <button ng-show="doc.validated_b == false" type="button" class="btn btn-xs" ng-click="validateDoc(doc,true)" tooltip="Valider le document"> <span class="glyphicon glyphicon-saved"></span></button>
                                            <button ng-show="doc.validated_b == true" type="button" class="btn btn-xs" ng-click="validateDoc(doc,false)" tooltip="Invalider le document"> <span class="glyphicon glyphicon-saved text-primary"></span></button>
                                            <button ng-show="doc.read_b == false" type="button" class="btn btn-xs" ng-click="setRead(doc.id,true)" tooltip="Mettre comme lu"> <span class="glyphicon glyphicon-eye-open"></span></button>
                                            <button ng-show="doc.read_b == true" type="button" class="btn btn-xs" ng-click="setRead(doc.id,false)" tooltip="Mettre comme non-lu"> <span class="glyphicon glyphicon-eye-close"></span></button>

                                            <div class="pull-right"><button ng-show="(doc.type_s == 'document')||(doc.type_s == 'validation')" type="button" class="btn btn-xs" ng-click="deleteDoc(doc.id)" tooltip="Effacer le document"> <span class="glyphicon glyphicon-trash"></span></button></div>
                                        </div>


                                    </div>

                    </td>
                    </tr>
                    </table>
                    <pagination max-size="maxSize" class="pagination-sm" boundary-links="true" rotate="false" ng-model="currentPage" ng-change="pageChanged()" total-items="totalItems"></pagination>
                </div>
            </div>
        </div>
    </div>

</div>
</div>


