<div ng-controller="headerCtrl">
    <div ng-include src="template.url"></div>
</div>


<div id="search">
    <div class="row">
        <div class="col-md-12">
            <ol class="breadcrumb text-center">
                <li><a href="#/home">{{ '_SERVICE_NAME_' | i18n }}</a></li>
                <li class="active">{{ '_SEARCH_' | i18n }}</li>
                <!-- <li class="active"> - </li> -->
            </ol>
        </div>
    </div>

    <div ng-controller="FolderSearchCtrl">
        <div class="alert alert-danger" ng-show="isError">
            <strong>&nbsp;</strong><span>{{errorMessage}}</span>
        </div>

        <div class="row">

            <!-- SEARCHNAV BOX -->

            <div class="col-md-3">
                <table class="table table-condensed">
                <tr ng-repeat="searchGroup in searchNav">
                <td>
                    <div ng-show="searchGroup.checked == false"><button type="button" class="btn btn-xs" ng-click="groupCheck(searchGroup.name)" > <span class="glyphicon glyphicon-chevron-right"></span></button> &nbsp;  {{searchGroup.value}} </div>
                    <div ng-show="searchGroup.checked == true"><button type="button" class="btn btn-xs" ng-click="groupCheck(searchGroup.name)" > <span class="glyphicon glyphicon-chevron-down"></span></button>&nbsp; {{searchGroup.value}} </div>

                    <!-- ARBORECENCE FOR FOLDER TREE -->
                    <div ng-show="searchGroup.foldersGroup">
                        <table ng-show="searchGroup.checked" class="table table-condensed">
                            <tr ng-repeat="folder in searchGroup.foldersGroup">
                                <td>
                                    <div ng-show="folder.visible">
                                        <div ng-show="folder.checked == false"><button type="button" class="btn btn-xs" ng-click="folderCheck(folder, folder.type)" > <span class="glyphicon glyphicon-chevron-right"></span></button>&nbsp;  {{folder.value}}</div>
                                        <div ng-show="folder.checked == true"><button  type="button" class="btn btn-xs" ng-click="folderCheck(folder, folder.type)" > <span class="glyphicon glyphicon-chevron-down"></span></button>&nbsp;  {{folder.value}}</div>
                                    </div>

                                    <table ng-show="folder.checked" class="table table-condensed">
                                        <tr ng-repeat="facet in folder.items">
                                            <td>
                                                <div ng-show="facet.visible">
                                                    <div ng-show="facet.checked == false"><button type="button" class="btn btn-xs" ng-click="facetCheck(facet)" > <span class="glyphicon glyphicon-chevron-right"></span></button>&nbsp;  {{facet.value}}</div>
                                                    <div ng-show="facet.checked == true"><button  type="button" class="btn btn-xs" ng-click="facetCheck(facet)" > <span class="glyphicon glyphicon-chevron-down"></span></button>&nbsp;  {{facet.value}}</div>
                                                </div>
                                                <table ng-show="facet.checked" class="table table-condensed">
                                                    <tr ng-repeat="item in facet.items">
                                                        <td><input type="checkbox" ng-model="item.checked" ng-click="itemCheck(item)"> &nbsp; {{item.value}}: {{item.nb}}</input></td>
                                                    </tr>
                                                </table>
                                            </td>
                                        </tr>
                                    </table>
                                </td>
                            </tr>
                        </table>
                    </div>

                    <!-- ARBORECENCE FOR OTHERS -->
                    <div ng-show="searchGroup.facetsGroup">
                        <table ng-show="searchGroup.checked" class="table table-condensed">
                            <tr ng-repeat="facet in searchGroup.facetsGroup">
                                <td>
                                    <div ng-show="facet.visible">
                                        <div ng-show="facet.checked == false"><button type="button" class="btn btn-xs" ng-click="facetCheck(facet)" > <span class="glyphicon glyphicon-chevron-right"></span></button>&nbsp;  {{facet.value}}</div>
                                        <div ng-show="facet.checked == true"><button  type="button" class="btn btn-xs" ng-click="facetCheck(facet)" > <span class="glyphicon glyphicon-chevron-down"></span></button>&nbsp;  {{facet.value}}</div>

                                    <!-- <input type="checkbox" ng-model="facet.checked">&nbsp;  {{facet.value}} -->
                                    </div>
                                    <table ng-show="facet.checked" class="table table-condensed">
                                        <tr ng-repeat="item in facet.items">
                                            <td><input type="checkbox" ng-model="item.checked" ng-click="itemCheck(item)"> &nbsp; {{item.value}}: {{item.nb}}</input></td>
                                            <!-- <span class="badge">{{item.nb}}</span> -->
                                        </tr>
                                    </table>
                                </td>
                            </tr>
                        </table>
                    </div>

                    <!-- SELECTGROUP FOR ONLINE SEARCH -->
                    <div ng-show="searchGroup.selectGroup">
                        <table ng-show="searchGroup.checked" class="table table-condensed">
                            <tr ng-repeat="select in searchGroup.selectGroup">
                                <td><input type="checkbox" ng-model="select.checked" ng-change="selectCheck(select)"> &nbsp; {{select.value}}</input></td>
                            </tr>
                        </table>
                    </div>
                </td>
                </tr>
               </table>
            </div>

            <!-- SEARCH RESULTS BOX -->

            <div class="col-md-9">

                <form class="form-horizontal" ng-submit="doSearch()">
                    <input type="text" placeholder="{{ '_SEARCH_' | i18n }}" ng-model="searchTerm">
                    <button class="btn btn-default" ng-click="doSearch()" name="searchButton" analytics-on='click' analytics-event='Search' analytics-label='Search_folder' analytics-category='Passive'><i class="icon-search"></i>{{ '_SEARCH_' | i18n }}</button>
                </form>


                <!-- ONLINE RESULTS -->

                <div ng-show='searchNav[idx.online].checked' id="solrResult">
                    <div id="numberFound">
                        <div results-number ng-show="onlineResult.count>0">
                            {{onlineResult.count}} {{ '_REQUEST_RESULT_' | i18n }} <b>'{{searchTerm}}'</b> dans
                            <span ng-repeat="(key, value) in onlineSourceList">
                                {{value}},  &NonBreakingSpace;
                            </span>
                            <button type="button" class="btn btn-xs" ng-click="waitSource(currentOnlineSearchUrl, onlineResult.res)" tooltip="{{ '_WAIT_SOURCES_' | i18n }}"> <span class="glyphicon glyphicon-plus"></span></button>
                            <br>
                        </div>
                    </div>

                    <div id="docsFound">
                        <div onlineResult ng-show="onlineResult.count">
                            <table class="table table-striped">
                                <tr ng-repeat="online in onlineResult.res | orderBy: 'pubDate' ">
                                    <td>
                                        <div id="titleFound">
                                            <a href="{{online.link}}" target="_blank" ng-bind-html="online.title_highlight"></a>
                                        </div>
                                        <div id="contentFound">

                                            <p ng-bind-html="online.description_highlight"></p>

                                        </div>
                                        <div id="urlFound">
                                            <span ng-if="online.link.length<=100">
                                            {{online.link}}
                                            </span>
                                            <span ng-if="online.link>100">
                                                {{online.link| limitTo:100}}...
                                            </span>
                                        </div>

                                        <div id="dateFound">
                                            {{online.pubDate|date:'dd-MM-yyyy HH:mm'}}
                                            <div id="actionList">
                                                <button type="button" class="btn btn-xs" ng-click="validateDoc(online,true,'online')" tooltip="{{ '_VALIDATE_DOC_' | i18n }}"> <span class="glyphicon glyphicon-saved"></span></button>

                                            </div>
                                        </div>
                                    </td>
                                </tr>
                            </table>
                        </div>
                    </div>
                </div>


                <!-- COLLECT FEEDS RESULTS -->

                <div ng-show='searchNav[idx.feeds].checked' id="solrResult">
                    <div id="numberFound">
                        <div results-number ng-show="feedResult.count>0">
                            {{feedResult.count}} {{ '_REQUEST_RESULT_' | i18n }} <b>'{{searchTerm}}'</b>
                            <br>
                        </div>
                    </div>

                    <div id="docsFound">
                        <div feedResult ng-show="feedResult.count">
                            <table class="table table-striped">
                                <tr ng-repeat="feed in feedResult.res">
                                    <td>
                                        <div id="titleFound">
                                            <a href="{{feed.link}}" target="_blank" ng-bind-html="feed.title"></a>
                                        </div>
                                        <div id="contentFound" ng-bind-html="feed.description">

                                        </div>
                                        <div id="urlFound">
                                            <span ng-if="feed.link.length<100">
                                            {{feed.url}}
                                            </span>
                                            <span ng-if="feed.link>100">
                                                {{feed.link| limitTo:100}}...
                                            </span>
                                        </div>

                                        <div id="dateFound">
                                            {{feed.pubDate|date:'dd-MM-yyyy HH:mm'}}
                                            <div id="actionList">
                                                <button type="button" class="btn btn-xs" ng-click="seeFeed(feed)" tooltip="{{ '_SEE_FEED_' | i18n }}"> <span class="glyphicon glyphicon-search"></span></button>
                                                <button type="button" class="btn btn-xs" ng-click="addFeed(feed)" tooltip="{{ '_ADD_FEED_' | i18n }}"> <span class="glyphicon glyphicon-plus"></span></button>
                                                <button type="button" class="btn btn-xs" ng-click="watchFeed(feed)" tooltip="{{ '_WATCH_FEED_' | i18n }}"> <span class="glyphicon glyphicon-eye-open"></span></button>
                                            </div>
                                        </div>
                                    </td>
                                </tr>
                            </table>
                        </div>
                    </div>
                </div>

                <!-- SOLR RESULT FOR VALIDATION -->

                <div ng-show='searchNav[idx.validation].checked' id="solrResult">
                    <div id="numberFound">
                        <div ng-if="affichageValidate" align="right">
                            {{ '_VALIDATE_' | i18n }}: {{validateTitle}} - <a ng-click="resetValidate()">{{ '_BACK_TO_SOURCES_' | i18n }}</a>
                        </div>
                    </div>
                    <div id="docsFound">
                        <div solr-result ng-show="solrResult.response.numFound">
                            <table class="table table-striped">
                                <tr ng-repeat="doc in solrResult.response.docs">
                                    <td>
                                    <!-- Header of heach row -->

                                        <div ng-if="(doc.type_s =='validation')" id="titleFound">
                                            <!-- <a ng-click="seeValidate(doc.source_id_s, doc.title_t)">{{doc.title_t}}</a> -->
                                            <h5><b>{{doc.title_t}}</b></h5>
                                        </div>
                                        <div ng-if="((doc.source_type_s=='rss') || (doc.source_type_s=='RSS'))" id="titleFound">
                                            {{ '_RSS_FEED_' | i18n }}: <a ng-click="seeDocuments(doc.id, doc.title_t)">{{doc.title_t}}</a>
                                        </div>

                                        <div>
                                            {{ '_FOLDER_' | i18n }} : {{doc.folder_s}}
                                        </div>

                                        <div ng-if="doc.url_s" id="urlFound">
                                            <a ng-if="doc.url_s && (doc.url_s.length<=100)" href="{{doc.url_s}}" target="_blank">{{doc.url_s}}</a>
                                            <a ng-if="doc.url_s && (doc.url_s.length>100)" href="{{doc.url_s}}" target="_blank">{{doc.url_s| limitTo:100}}...</a>
                                        </div>

                                        <div ng-if="doc.file_s">
                                            <span class="glyphicon glyphicon-file"></span> : <a ng-href="{{url}}&fileID={{doc.file_s}}" target="_blank">{{ '_DOWNLOAD_' | i18n }}</a><br>
                                            {{doc.creation_dt|date:'dd-MM-yyyy HH:mm'}}
                                        </div>

                                        <div ng-if="doc.tags_ss" id="tagsFound">
                                             {{ '_TAGS_' | i18n }} : <span ng-repeat="tag in doc.tags_ss"><a>{{tag}}</a>,&nbsp;</span>
                                        </div>

                                        <div id="dateFound">
                                            {{doc.date_dt|date:'dd-MM-yyyy HH:mm'}}
                                            <div id="actionList">
                                                <button type="button" class="btn btn-xs" ng-click="shareDoc(doc,'solr')" tooltip="{{ '_SHARE_DOCUMENT_' | i18n }}"><span class="glyphicon glyphicon-send"></span></button>

                                                <!-- <div class="pull-right"><button ng-show="(doc.type_s == 'document')||(doc.type_s == 'validation')||(doc.source_type_s == 'online')" type="button" class="btn btn-xs" ng-click="deleteDoc(doc.id)" tooltip="{{ '_DELETE_DOC_' | i18n }}"> <span class="glyphicon glyphicon-trash"></span></button></div> -->
                                            </div>
                                        </div>

                                    </td>
                                </tr>
                            </table>
                            <pagination max-size="maxSize" class="pagination-sm" boundary-links="true" rotate="false" ng-model="currentPage" ng-change="pageChanged()" total-items="totalItems"></pagination>
                        </div>
                    </div>
                </div>

                <!-- SOLR RESULT FOR WATCHES -->

                <div ng-show='searchNav[idx.watch].checked' id="solrResult">
                    <div id="numberFound">
                        <div ng-if="!affichageWaiting" solr-results-number ng-show="solrResult.response">
                            {{ '_Page_' | i18n }}: {{currentPage}} {{ '_OF_' | i18n }} {{solrResult.response.numFound}} {{ '_REQUEST_RESULT_' | i18n }} <b>'{{solrResult.responseHeader.params.q}}'</b> {{ '_IN_' | i18n }} {{solrResult.responseHeader.QTime}} ms
                            <br>
                        </div>
                        <div ng-if="affichageWaiting" solr-results-number ng-show="solrResult.response">
                            {{ '_Page_' | i18n }}: {{currentPage}} {{ '_OF_' | i18n }} {{solrResult.response.numFound}} {{ '_IN_' | i18n }} {{solrResult.responseHeader.QTime}} ms
                            <br>
                        </div>
                        <div ng-if="affichageSource" align="right">
                            {{ '_REFERER_' | i18n }}: {{sourceTitle}} - <a ng-click="resetList()">{{ '_BACK_TO_SOURCES_' | i18n }}</a>
                        </div>
                        <div ng-if="affichageWatch" align="right">
                            {{ '_WATCH_' | i18n }}: {{watchTitle}} - <a ng-click="resetWatch()">{{ '_BACK_TO_SOURCES_' | i18n }}</a>
                        </div>
                        <div ng-if="affichageValidate" align="right">
                            {{ '_VALIDATE_' | i18n }}: {{validateTitle}} - <a ng-click="resetValidate()">{{ '_BACK_TO_SOURCES_' | i18n }}</a>
                        </div>
                        <!-- <div ng-if="affichageWaiting" align="right">
                            {{waitingTitle}} - <a ng-click="resetWaiting()">{{ '_BACK_TO_WAITINGS_' | i18n }}</a>
                        </div> -->
                    </div>
                    <div id="docsFound">
                        <!--<div onlineResult ng-show="onlineResult.count">
                            <table class="table table-striped">
                                <tr ng-repeat="online in onlineResult.res | orderBy: 'pubDate' ">
                                    <td>
                                        <div id="titleFound">
                                            <a href="{{online.link}}" target="_blank" ng-bind-html="online.title"></a>
                                        </div>

                                        <div id="contentFound">
                                            <p ng-bind-html="online.description"></p>
                                        </div>

                                        <div id="urlFound">
                                            <span ng-if="online.link.length<100">
                                            {{online.link}}
                                            </span>
                                            <span ng-if="online.link>100">
                                                {{online.link| limitTo:100}}...
                                            </span>
                                        </div>

                                        <div id="dateFound">
                                            {{online.pubDate|date:'dd-MM-yyyy HH:mm'}}
                                            <div id="actionList">
                                                <button type="button" class="btn btn-xs" ng-click="validateDoc(online,true,'online')" tooltip="{{ '_VALIDATE_DOC_' | i18n }}"> <span class="glyphicon glyphicon-saved"></span></button>
                                                <button type="button" class="btn btn-xs" ng-click="shareDoc(online,'online')" tooltip="{{ '_SHARE_DOCUMENT_' | i18n }}"> <span class="glyphicon glyphicon-send"></span></button>
                                            </div>
                                        </div>
                                    </td>
                                </tr>
                            </table>
                        </div> -->
                        <div solr-result ng-show="solrResult.response.numFound">
                            <table class="table table-striped">
                                <tr ng-repeat="doc in solrResult.response.docs">
                                    <td>
                                    <!-- {{doc.title_t}} -->
                                    <!-- HEADER OF HEACH ROW -->

                                        <div ng-if="(doc.type_s =='watch')" id="titleFound">
                                            <a ng-click="seeWatch(doc.source_id_ss, doc.title_t)"><h5><b>{{doc.title_t}}</b></h5></a>
                                        </div>
                                        <div ng-if="affichageWatch" id="titleFound">
                                            <h5><b>{{doc.title_t}}</b></h5>
                                        </div>

                                        <div ng-if="((doc.source_type_s=='rss') || (doc.source_type_s=='RSS'))" id="titleFound">
                                            {{ '_RSS_FEED_' | i18n }}: <a ng-click="seeDocuments(doc.id, doc.title_t)">{{doc.title_t}}</a>
                                        </div>
                                        <div ng-if="(searchNav[idx.source].checked) && ((doc.source_type_s=='HTTP') || ((doc.type_s=='document') && (doc.waiting_b)))" id="titleFound">
                                            {{ '_WEBSITE_' | i18n }}: <a href="{{doc.url_s}}" target="_blank">{{doc.title_t}}</a>
                                        </div>

                                        <div id="contentFound" ng-if="(doc.source_type_s=='rss') || (doc.source_type_s=='RSS') || (affichageSource) || affichageWatch">
                                        <!-- || !(searchNav[idx.source].checked)"> -->
                                            <div ng-controller="CollapseSolrCtrl">

                                                <div collapse="!isCollapsed">
                                                        <span ng-click="isCollapsed = !isCollapsed">
                                                        <!-- {{solrResult.response.highlighting}}[{{doc.id}}][]{{ doc.content_en | limitTo:300 }} &gt;&gt;&gt;&gt; -->
                                                            <span ng-if="solrResult.highlighting[doc.id].content_en[0]" ng-bind-html="solrResult.highlighting[doc.id].content_en[0]+'...'"></span>

                                                            <!-- <span ng-if="solrResult.highlighting[doc.id].content_en[0]=== \"undefined\"">{{ doc.content_en | limitTo:500 }} &gt;&gt;&gt;&gt;</span> -->

                                                            <!-- <span ng-if="solrResult.highlighting[doc.id].content_en[1]" ng-bind-html="solrResult.highlighting[doc.id].content_en[1]+"></span>
                                                            <span ng-if="solrResult.highlighting[doc.id].content_en[2]" ng-bind-html="solrResult.highlighting[doc.id].content_en[2]+"></span> -->

                                                            <!-- &gt;&gt;&gt;&gt; -->
                                                            <a>{{ '_SHOW_' | i18n }}&NonBreakingSpace;&gt;</a>
                                                            <!-- <span ng-bind="getSummary(doc.id)"></span> -->
                                                        </span>
                                                </div>
                                                <div collapse="isCollapsed">
                                                    <span ng-click="isCollapsed = !isCollapsed">
                                                    {{doc.content_en}} <a>&lt;&NonBreakingSpace;{{ '_HIDE_' | i18n }}</a>
                                                    </span>
                                                </div>

                                            </div>
                                        </div>
                                        <div ng-if="!affichageWatch">
                                            {{ '_FOLDER_' | i18n }} : {{doc.folder_s}}
                                        </div>
                                        <div ng-if="doc.file_s">
                                            <span class="glyphicon glyphicon-file"></span> : <a ng-href="{{url}}fileID={{doc.file_s}}&token={{tk}}&token_timeout={{tt}}" target="_blank">{{ '_DOWNLOAD_' | i18n }}</a><br>
                                            {{doc.creation_dt|date:'dd-MM-yyyy HH:mm'}}
                                        </div>
                                        <div ng-if="doc.source_type_s == 'online'" id="urlFound">
                                            {{ '_SHOW_' | i18n }} : {{doc.query_s}}<br>
                                            {{ '_SOURCES_' | i18n }} : {{doc.ressources_s}}<br>
                                            {{ '_ADDED_ON_' | i18n }} : {{doc.creation_dt|date:'dd-MM-yyyy HH:mm'}}<br>
                                        </div>

                                        <div ng-if="doc.tags_ss" id="tagsFound">
                                             {{ '_TAGS_' | i18n }} : <span ng-repeat="tag in doc.tags_ss"><a>{{tag}}</a>,&nbsp;</span>
                                        </div>

                                        <div ng-if="affichageWatch" id="urlFound">
                                            <a ng-if="doc.url_s.length<100" ng-href="{{doc.url_s}}">{{doc.url_s}}</a>
                                            <a ng-if="doc.url_s.length>100" ng-href="{{doc.url_s}}">{{doc.url_s| limitTo:100}}...</a>
                                        </div>
                                        <div ng-if="!affichageWatch" id="urlFound">
                                            <span ng-if="doc.url_s.length<100" ng-href="{{doc.url_s}}">{{doc.url_s}}</span>
                                            <span ng-if="doc.url_s.length>100" ng-href="{{doc.url_s}}">{{doc.url_s| limitTo:100}}...</span>
                                        </div>

                                        <div id="dateFound">
                                            {{doc.date_dt|date:'dd-MM-yyyy HH:mm'}}
                                            <div id="actionList">
                                                <button ng-show="doc.validated_b == false" type="button" class="btn btn-xs" ng-click="validateDoc(doc,true,'solr')" tooltip="{{ '_VALIDATE_DOC_' | i18n }}"> <span class="glyphicon glyphicon-saved"></span></button>
                                                <button ng-show="doc.validated_b == true" type="button" class="btn btn-xs" ng-click="validateDoc(doc,false,'solr')" tooltip="{{ '_UNVALDIATE_DOC_' | i18n }}"> <span class="glyphicon glyphicon-saved text-primary"></span></button>
                                                <button ng-show="doc.read_b == false" type="button" class="btn btn-xs" ng-click="setRead(doc.id,true)" tooltip="{{ '_MARK_AS_READ_' | i18n }}"> <span class="glyphicon glyphicon-eye-open"></span></button>
                                                <button ng-show="doc.read_b == true" type="button" class="btn btn-xs" ng-click="setRead(doc.id,false)" tooltip="{{ '_MARK_AS_UNREAD_' | i18n }}"> <span class="glyphicon glyphicon-eye-close"></span></button>
                                                <button type="button" class="btn btn-xs" ng-click="shareDoc(doc,'solr')" tooltip="{{ '_SHARE_DOCUMENT_' | i18n }}"> <span class="glyphicon glyphicon-send"></span></button>

                                                <!-- <div class="pull-right"><button ng-show="(doc.type_s == 'document')||(doc.type_s == 'validation')||(doc.source_type_s == 'online')" type="button" class="btn btn-xs" ng-click="deleteDoc(doc.id)" tooltip="{{ '_DELETE_DOC_' | i18n }}"> <span class="glyphicon glyphicon-trash"></span></button></div> -->
                                            </div>
                                        </div>

                                    </td>
                                </tr>
                            </table>
                            <pagination max-size="maxSize" class="pagination-sm" boundary-links="true" rotate="false" ng-model="currentPage" ng-change="pageChanged()" total-items="totalItems"></pagination>
                        </div>
                    </div>
                </div>

                <!-- SOLR RESULTS FOR SOURCES -->

                <div ng-show='searchNav[idx.source].checked' id="solrResult">
                    <div id="numberFound">
                        <div ng-if="!affichageWaiting" solr-results-number ng-show="solrResult.response">
                            {{ '_Page_' | i18n }}: {{currentPage}} {{ '_OF_' | i18n }} {{solrResult.response.numFound}} {{ '_REQUEST_RESULT_' | i18n }} <b>'{{solrResult.responseHeader.params.q}}'</b> {{ '_IN_' | i18n }} {{solrResult.responseHeader.QTime}} ms
                            <br>
                        </div>
                        <div ng-if="affichageWaiting" solr-results-number ng-show="solrResult.response">
                            {{ '_Page_' | i18n }}: {{currentPage}} {{ '_OF_' | i18n }} {{solrResult.response.numFound}} {{ '_IN_' | i18n }} {{solrResult.responseHeader.QTime}} ms
                            <br>
                        </div>
                        <div ng-if="affichageSource" align="right">
                            {{ '_REFERER_' | i18n }}: {{sourceTitle}} - <a ng-click="resetList()">{{ '_BACK_TO_SOURCES_' | i18n }}</a>
                        </div>
                        <div ng-if="affichageWaiting" align="right">
                            {{waitingTitle}} - <a ng-click="resetWaiting()">{{ '_BACK_TO_WAITINGS_' | i18n }}</a>
                        </div>
                    </div>
                    <div id="docsFound">
                        <!--<div onlineResult ng-show="onlineResult.count">
                            <table class="table table-striped">
                                <tr ng-repeat="online in onlineResult.res | orderBy: 'pubDate' ">
                                    <td>
                                        <div id="titleFound">
                                            <a href="{{online.link}}" target="_blank" ng-bind-html="online.title"></a>
                                        </div>

                                        <div id="contentFound">
                                            <p ng-bind-html="online.description"></p>
                                        </div>

                                        <div id="urlFound">
                                            <span ng-if="online.link.length<100">
                                            {{online.link}}
                                            </span>
                                            <span ng-if="online.link>100">
                                                {{online.link| limitTo:100}}...
                                            </span>
                                        </div>

                                        <div id="dateFound">
                                            {{online.pubDate|date:'dd-MM-yyyy HH:mm'}}
                                            <div id="actionList">
                                                <button type="button" class="btn btn-xs" ng-click="validateDoc(online,true,'online')" tooltip="{{ '_VALIDATE_DOC_' | i18n }}"> <span class="glyphicon glyphicon-saved"></span></button>
                                                <button type="button" class="btn btn-xs" ng-click="shareDoc(online,'online')" tooltip="{{ '_SHARE_DOCUMENT_' | i18n }}"> <span class="glyphicon glyphicon-send"></span></button>
                                            </div>
                                        </div>
                                    </td>
                                </tr>
                            </table>
                        </div> -->
                        <div solr-result ng-show="solrResult.response.numFound">
                            <table class="table table-striped">

                                <tr ng-repeat="doc in solrResult.response.docs">
                                    <td>

                                        <div ng-if="(searchNav[idx.source].checked) && (doc.waiting_b) && (doc.type_s !='document')" id="titleFound">
                                            <a ng-click="seeWaitings(doc.id, doc.title_t)">{{doc.title_t}}</a>
                                        </div>
                                        <div ng-if="!searchNav[idx.source].checked" id="titleFound">
                                            <a href="{{doc.url_s}}" target="_blank">{{doc.title_t}}</a>
                                        </div>
                                        <div ng-if="affichageSource" id="titleFound">
                                            <!-- <a ng-click="seeValidate(doc.source_id_s, doc.title_t)">{{doc.title_t}}</a> -->
                                            <!-- <a ng-if="doc.url_s" href="{{doc.url_s}}" target="_blank">{{doc.title_t}}</a> -->
                                            <h5><b>{{doc.title_t}}</b></h5>
                                        </div>
                                        <div ng-if="(doc.source_type_s=='rss') || (doc.source_type_s=='RSS')" id="titleFound">
                                            {{ '_RSS_FEED_' | i18n }}: <a ng-click="seeDocuments(doc.id, doc.title_t)">{{doc.title_t}}</a>
                                        </div>
                                        <div ng-if="!affichageWaiting && ((doc.source_type_s=='HTTP') || ((doc.type_s=='document') && (doc.waiting_b)))" id="titleFound">
                                            <!-- {{ '_WEBSITE_' | i18n }}: <a href="{{doc.url_s}}" target="_blank">{{doc.title_t}}</a> -->
                                            {{ '_WEBSITE_' | i18n }}: <a ng-click="seeDocuments(doc.id, doc.title_t)">{{doc.title_t}}</a>
                                        </div>
                                        <div ng-if="affichageWaiting">
                                            <h5 ng-if="(doc.waiting_b)"><b>{{doc.title_t}}</b></h5>
                                        </div>
                                        <div id="contentFound" ng-if="doc.content_t && ((doc.source_type_s=='rss') || (doc.source_type_s=='RSS') || affichageSource || !(searchNav[idx.source].checked) || affichageWaiting)">
                                            <div ng-controller="CollapseSolrCtrl">

                                                <div collapse="!isCollapsed">
                                                        <span ng-click="isCollapsed = !isCollapsed">
                                                        <!-- {{solrResult.response.highlighting}}[{{doc.id}}][]{{ doc.content_en | limitTo:300 }} &gt;&gt;&gt;&gt; -->
                                                            <span ng-if="solrResult.highlighting[doc.id].content_en[0]" ng-bind-html="solrResult.highlighting[doc.id].content_en[0]+'...'"></span>

                                                            <!-- <span ng-if="solrResult.highlighting[doc.id].content_en[0]=== \"undefined\"">{{ doc.content_en | limitTo:500 }} &gt;&gt;&gt;&gt;</span> -->

                                                            <!-- <span ng-if="solrResult.highlighting[doc.id].content_en[1]" ng-bind-html="solrResult.highlighting[doc.id].content_en[1]+"></span>
                                                            <span ng-if="solrResult.highlighting[doc.id].content_en[2]" ng-bind-html="solrResult.highlighting[doc.id].content_en[2]+"></span> -->

                                                           <!-- &gt;&gt;&gt;&gt; -->
                                                           <a>{{ '_SHOW_' | i18n }}&NonBreakingSpace;&gt;</a>
                                                            <!-- <span ng-bind="getSummary(doc.id)"></span> -->
                                                        </span>
                                                </div>
                                                <div collapse="isCollapsed">
                                                        <span ng-click="isCollapsed = !isCollapsed">
                                                        {{doc.content_en}} <a>&lt;&NonBreakingSpace;{{ '_HIDE_' | i18n }}</a>
                                                        </span>
                                                </div>

                                            </div>
                                        </div>
                                        <div ng-if="(searchNav[idx.validation].checked)">
                                            {{ '_FOLDER_' | i18n }} : {{doc.folder_s}}
                                        </div>
                                        <div ng-if="doc.source_type_s == 'online'" id="urlFound">
                                            {{ '_QUERY_' | i18n }} : {{doc.query_s}}<br>
                                            {{ '_SOURCES_' | i18n }} : {{doc.ressources_s}}<br>
                                            {{ '_ADDED_ON_' | i18n }} : {{doc.creation_dt|date:'dd-MM-yyyy HH:mm'}}<br>
                                            {{ '_UPDATED_ON_' | i18n }} : {{doc.updating_dt|date:'dd-MM-yyyy HH:mm'}}<br>
                                        </div>
                                        <div ng-if="!(doc.source_type_s == 'online') && ((affichageSource && doc.url_s) || (affichageWaiting && doc.url_s)) " id="urlFound">
                                            <a ng-if="doc.url_s.length<=100" ng-href="{{doc.url_s}}">{{doc.url_s}}</a>
                                            <a ng-if="doc.url_s.length>100" ng-href="{{doc.url_s}}">{{doc.url_s| limitTo:100}}...</a>
                                        </div>
                                        <div ng-if="!(doc.source_type_s == 'online') && !(affichageSource) && !affichageWaiting" id="urlFound">
                                            <span ng-if="doc.url_s.length<=100">{{doc.url_s}}</span>
                                            <span ng-if="doc.url_s.length>100">{{doc.url_s| limitTo:100}}...</span>
                                        </div>

                                        <div id="dateFound">
                                            {{doc.date_dt|date:'dd-MM-yyyy HH:mm'}}
                                            <div id="actionList">
                                                <button ng-show="doc.validated_b == false" type="button" class="btn btn-xs" ng-click="validateDoc(doc,true,'solr')" tooltip="{{ '_VALIDATE_DOC_' | i18n }}"> <span class="glyphicon glyphicon-saved"></span></button>
                                                <button ng-show="doc.validated_b == true" type="button" class="btn btn-xs" ng-click="validateDoc(doc,false,'solr')" tooltip="{{ '_UNVALDIATE_DOC_' | i18n }}"> <span class="glyphicon glyphicon-saved text-primary"></span></button>
                                                <button ng-show="doc.read_b == false" type="button" class="btn btn-xs" ng-click="setRead(doc.id,true)" tooltip="{{ '_MARK_AS_READ_' | i18n }}"> <span class="glyphicon glyphicon-eye-open"></span></button>
                                                <button ng-show="doc.read_b == true" type="button" class="btn btn-xs" ng-click="setRead(doc.id,false)" tooltip="{{ '_MARK_AS_UNREAD_' | i18n }}"> <span class="glyphicon glyphicon-eye-close"></span></button>
                                                <button type="button" class="btn btn-xs" ng-click="shareDoc(doc,'solr')" tooltip="{{ '_SHARE_DOCUMENT_' | i18n }}"> <span class="glyphicon glyphicon-send"></span></button>

                                                <!-- <div class="pull-right"><button ng-show="(doc.type_s == 'document')||(doc.type_s == 'validation')||(doc.source_type_s == 'online')" type="button" class="btn btn-xs" ng-click="deleteDoc(doc.id)" tooltip="{{ '_DELETE_DOC_' | i18n }}"> <span class="glyphicon glyphicon-trash"></span></button></div> -->
                                            </div>
                                        </div>

                                    </td>
                                </tr>
                            </table>
                            <pagination max-size="maxSize" class="pagination-sm" boundary-links="true" rotate="false" ng-model="currentPage" ng-change="pageChanged()" total-items="totalItems"></pagination>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <!-- VALIDATION MODAL -->

        <script type="text/ng-template" id="validateModal.html">
            <div class="modal-header">
                <h3>{{ '_VALIDATE_FILE_' | i18n }}</h3>
            </div>
            <div class="modal-body">
                <div>{{ '_REQUIRE_FIELDS_' | i18n }}</div>
                <form class="form-horizontal" role="form">
                    <div class="form-group" >
                        <label class="col-sm-2 control-label">{{ '_TITLE_' | i18n }}*</label>
                        <div class="col-sm-10">
                            <input type="text" class="form-control" ng-model="validationForm.title">
                        </div>
                    </div>
                    <div class="form-group" >
                        <label class="col-sm-2 control-label">{{ '_URL_' | i18n }}</label>
                        <div class="col-sm-10">
                            <input type="url" class="form-control" ng-model="validationForm.url">
                        </div>
                    </div>
                    <div class="form-group" >
                        <label class="col-sm-2 control-label">{{ '_TAG_' | i18n }}*</label>
                        <div class="col-sm-10">
                            <input type="text" class="form-control" ng-model="validationForm.tags">
                        </div>
                    </div>
                    <div class="form-group" >
                        <label class="col-sm-2 control-label">{{ '_CONTENT_' | i18n }}</label>
                        <div class="col-sm-10">
                            <textarea class="form-control" rows="6" ng-model="validationForm.content"></textarea>
                        </div>
                    </div>
                    <div class="form-group" >
                        <label class="col-sm-2 control-label">{{ '_COMMENTS_' | i18n }}*</label>
                        <div class="col-sm-10">
                            <textarea class="form-control" rows="6" ng-model="validationForm.comment"></textarea>
                        </div>
                    </div>
                    <div class="form-group" >
                        <label class="col-sm-2 control-label">{{ '_FOLDER_' | i18n }}*</label>
                        <div class="col-sm-10">
                            <select ng-model="validationForm.folder" ng-options="folder as folder.name for folder in folders"></select>
                            <!-- <pre>{{validationFolder.id}}</pre>
                            <select id="validationFolder" name="validationFolder" ng-model="validationFolder">
                                <option ng-repeat="folder in folders" value="{{folder.id}}">{{folder.name}}</option>
                            </select> -->
                        </div>
                    </div>
                    <div class="form-group" >
                        <label class="col-sm-2 control-label">{{ "_IMPORTANCE_" | i18n }}*</label>
                        <div class="col-sm-10">
                            <table>
                                <tr>
                                    <td>
                                        <span style="display:block; height:5px; width:40px; background-color:green;"></span>
                                    </td>
                                    <td>
                                        <span style="display:block; height:5px; width:40px; background-color:yellow;"></span>
                                    </td>
                                    <td>
                                        <span style="display:block; height:5px; width:40px; background-color:orange;"></span>
                                    </td>
                                    <td>
                                        <span style="display:block; height:5px; width:40px; background-color:red;"></span>
                                    </td>
                                </tr>
                                <tr>
                                    <td style="text-align: center;">
                                        <input type="radio" ng-model="validationForm.importance" name="importance" value="1" checked>
                                    </td>
                                    <td style="text-align: center;">
                                        <input type="radio" ng-model="validationForm.importance" name="importance" value="2">
                                    </td>
                                    <td style="text-align: center;">
                                        <input type="radio" ng-model="validationForm.importance" name="importance" value="3">
                                    </td>
                                    <td style="text-align: center;">
                                        <input type="radio" ng-model="validationForm.importance" name="importance" value="4">
                                    </td>
                                </tr>
                            </table>
                        </div>
                    </div>
                </form>

            </div>
            <div class="modal-footer">
                <button class="btn btn-primary" ng-click="ok()">{{ '_OK_' | i18n }}</button>

                <button class="btn btn-warning" ng-click="cancel()">{{ '_CANCEL_' | i18n }}</button>
            </div>
        </script>

        <!-- MODAL TO VALIDATE RSS SOURCE -->

        <script type="text/ng-template" id="validateFeedModal.html">
            <div class="modal-header">
            <h3>{{ '_ADD_RSS_FEED_' | i18n }}</h3>
            </div>
            <div class="modal-body">

                <form class="form-horizontal" role="form">
                    <div class="form-group" >
                        <label class="col-sm-2 control-label">{{ '_TITLE_' | i18n }}</label>
                        <div class="col-sm-10">
                            <input type="text" class="form-control" ng-model="validationForm.title">
                        </div>
                    </div>
                    <div class="form-group" >
                        <label class="col-sm-2 control-label">{{ '_URL_' | i18n }}</label>
                        <div class="col-sm-10">
                            <input type="url" class="form-control" ng-model="validationForm.url">
                        </div>
                    </div>
                    <!--<div class="form-group" >
                        <label class="col-sm-2 control-label">{{ '_FREQUENCY_CHECK_' | i18n }}</label>
                        <div class="col-sm-10">
                            <select ng-model="validationForm.frequency" ng-options="frequency.option for frequency in frequencies" require></select>
                        </div>
                    </div>-->
                    <div class="form-group" >
                        <label class="col-sm-2 control-label">{{ '_TAG_' | i18n }}</label>
                        <div class="col-sm-10">
                            <input type="text" class="form-control" ng-model="validationForm.tags">
                        </div>
                    </div>
                </form>

            </div>
            <div class="modal-footer">
                <button class="btn btn-primary" ng-click="ok()">{{ '_OK_' | i18n }}</button>

                <button class="btn btn-warning" ng-click="cancel()">{{ '_CANCEL_' | i18n }}</button>
            </div>
        </script>

        <!-- MODAL FOR WAITING SOURCE -->

        <script type="text/ng-template" id="addOnlineSearchModal.html">
            <div class="modal-header">
                <h3>{{ '_ADD_WAITING_QUERY_' | i18n }}</h3>
            </div>
            <div class="modal-body">

                <form class="form-horizontal" role="form">
                    <div class="form-group" >
                        <label class="col-sm-2 control-label">{{ '_TITLE_' | i18n }}</label>
                        <div class="col-sm-10">
                            <input type="text" class="form-control" ng-model="validationForm.title">
                        </div>
                    </div>
                    <div class="form-group" >
                        <label class="col-sm-2 control-label">{{ '_URL_' | i18n }}</label>
                        <div class="col-sm-10">
                            <input type="url" class="form-control" ng-model="validationForm.url">
                        </div>
                    </div>
                    <div class="form-group" >
                        <label class="col-sm-2 control-label">{{ '_FREQUENCY_CHECK_' | i18n }}</label>
                        <div class="col-sm-10">
                            <select ng-model="validationForm.frequency" ng-options="frequency.option for frequency in frequencies" required></select>
                        </div>
                    </div>
                    <div class="form-group" >
                        <label class="col-sm-2 control-label">{{ '_TAG_' | i18n }}</label>
                        <div class="col-sm-10">
                            <input type="text" class="form-control" ng-model="validationForm.tags">
                        </div>
                    </div>
                </form>

            </div>
            <div class="modal-footer">
                <button class="btn btn-primary" ng-click="ok()">{{ '_OK_' | i18n }}</button>

                <button class="btn btn-warning" ng-click="cancel()">{{ '_CANCEL_' | i18n }}</button>
            </div>
        </script>

        <!-- MODAL TO SHARE INFO -->

        <script type="text/ng-template" id="shareModal.html">
            <div class="modal-header">
                <h3>{{ '_SHARE_DOCUMENT_' | i18n }}</h3>
            </div>
            <div class="modal-body">

                <form class="form-horizontal" role="form">
                    <div class="form-group" >
                        <label class="col-sm-2 control-label">{{ '_TITLE_' | i18n }}</label>
                        <div class="col-sm-10">
                            <input type="text" class="form-control" ng-model="shareForm.title">
                        </div>
                    </div>
                    <div class="form-group" >
                        <label class="col-sm-2 control-label">{{ '_URL_' | i18n }}</label>
                        <div class="col-sm-10">
                            <input type="url" class="form-control" ng-model="shareForm.url">
                        </div>
                    </div>
                    <div class="form-group" >
                        <label class="col-sm-2 control-label">{{ '_TAG_' | i18n }}</label>
                        <div class="col-sm-10">
                            <input type="text" class="form-control" ng-model="shareForm.tags">
                        </div>
                    </div>
                    <!--<div class="form-group" >
                        <label class="col-sm-2 control-label">{{ '_CONTENT_' | i18n }}</label>
                        <div class="col-sm-10">
                            <textarea class="form-control" rows="6" ng-model="shareForm.content"></textarea>
                        </div>
                    </div>-->
                    <div class="form-group" >
                        <label class="col-sm-2 control-label">{{ '_COMMENTS_' | i18n }}</label>
                        <div class="col-sm-10">
                            <textarea class="form-control" rows="6" ng-model="shareForm.comment"></textarea>
                        </div>
                    </div>
                    <!--<div class="form-group" >
                        <label class="col-sm-2 control-label">{{ '_FOLDER_' | i18n }}</label>
                        <div class="col-sm-10">
                            <select ng-model="shareForm.folder" ng-options="folder as folder.name for folder in folders"></select>
                        </div>
                    </div>-->
                    <div class="form-group">
                        <label class="col-sm-2 control-label">{{ '_EMAIL_' | i18n }}</label>
                        <div class="col-sm-10">
                            <input type="email" class="form-control" rows="6" ng-model="shareForm.mail">
                        </div>
                    </div>
                </form>

            </div>
            <div class="modal-footer">
                <button class="btn btn-primary" ng-click="ok()">{{ '_SEND_' | i18n }}</button>

                <button class="btn btn-warning" ng-click="cancel()">{{ '_CANCEL_' | i18n }}</button>
            </div>
        </script>

        <!-- MODAL TO SEE RSS FEED -->

        <script type="text/ng-template" id="seeFeedModal.html">
            <div class="modal-header">
                <h4>{{ '_RSS_FEED_' | i18n }}</h4>
                <h5> {{item.url}} </h5>
            </div>
            <div class="modal-body">
                <div class="scroll-area" data-spy="scroll" data-target="#myNavbar" data-offset="0">
                    {{checkSourceResult.count}} {{ '_ELEMENTS_FOUND_' | i18n }}
                    <div ng-repeat="item in checkSourceResult.items">
                        <div class row>
                            <h4>{{item.title}}</h4>

                            <p>{{item.description}}</p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button class="btn btn-primary" ng-click="ok()">{{ '_OK_' | i18n }}</button>
            </div>
        </script>

        <!-- MODAL TO ADD AND MONITOR FEED -->

        <script type="text/ng-template" id="watchFeedModal.html">
            <div class="modal-header">
                <h3>{{ '_WATCH_DOCUMENT_' | i18n }}</h3>
            </div>
            <div class="modal-body">

                <form class="form-horizontal" role="form">
                    <div class="form-group" >
                        <label class="col-sm-2 control-label">{{ '_TITLE_' | i18n }}</label>
                        <div class="col-sm-10">
                            <input type="text" class="form-control" ng-model="WatchForm.title">
                        </div>
                    </div>
                    <div class="form-group" >
                        <label class="col-sm-2 control-label">{{ '_URL_' | i18n }}</label>
                        <div class="col-sm-10">
                            <input type="url" class="form-control" ng-model="WatchForm.url">
                        </div>
                    </div>
                    <div class="form-group" >
                        <label class="col-sm-2 control-label">{{ '_TAG_' | i18n }}</label>
                        <div class="col-sm-10">
                            <input type="text" class="form-control" ng-model="WatchForm.tags">
                        </div>
                    </div>
                     <div class="form-group" >
                        <label class="col-sm-2 control-label">{{ '_FREQUENCY_CHECK_' | i18n }}</label>
                        <div class="col-sm-10">
                            <select ng-model="WatchForm.frequency" ng-options="frequency.option for frequency in frequencies" required></select>
                        </div>
                    </div>
                    <div class="form-group" >
                        <label class="col-sm-2 control-label">{{ '_QUERY_' | i18n }}</label>
                        <div class="col-sm-10">
                            <input type="text" class="form-control" ng-model="WatchForm.query">
                        </div>
                    </div>
                    <div class="form-group" >
                        <label class="col-sm-2 control-label">{{ '_FOLDER_' | i18n }}</label>
                        <div class="col-sm-10">
                            <select ng-model="WatchForm.folder" ng-options="folder as folder.name for folder in folders"></select>
                        </div>
                    </div>
                    <div class="form-group" >
                        <label class="col-sm-2 control-label">{{ '_NOTIFICATION_' | i18n }}</label>
                        <div class="col-sm-10">
                            <select id="Notification" ng-model="WatchForm.notification" ng-options="notification.option for notification in notifications"></select>
                        </div>
                    </div>
                </form>

            </div>
            <div class="modal-footer">
                <button class="btn btn-primary" ng-click="ok()">{{ '_SEND_' | i18n }}</button>

                <button class="btn btn-warning" ng-click="cancel()">{{ '_CANCEL_' | i18n }}</button>
            </div>
        </script>
    </div>
</div>


