<div id="search">
    <div ng-controller="SolrCtrl">

        <div class="row">
            <div class="col-md-2">
                <div class="gridStylePeriod" ng-grid="gridOptionsPeriod">

                </div>
            </div>
            <div class="col-md-10">
                <form class="form-horizontal" ng-submit="doSearch()">
                    <input type="text" placeholder="Chercher" ng-model="searchTerm">
                    <button class="btn" ng-click="doSearch()"><i class="icon-search"></i>Search</button>
                </form>
                <div solr-results_number ng-show="solrResult.response.numFound">
                    Page: {{bigCurrentPage}} of {{solrResult.response.numFound}} results for <b>'{{solrResult.responseHeader.params.q}}'</b> query on last <b>{{currentPeriod}}</b> in {{solrResult.responseHeader.QTime}} ms
                    <br>
                    <pagination on-select-page="pageChanged(page)" total-items="bigTotalItems" page="bigCurrentPage" max-size="maxSize" class="pagination-small" boundary-links="true" rotate="false" num-pages="numPages"></pagination>
                    <table class="table table-striped">

                        <tr ng-repeat="doc in solrResult.response.docs">
                            <td>
                                <table class="table table-striped">
                                    <tr><td><a href="{{doc.url_page}}" target="_blank">{{doc.title}}</a></td></tr>

                                    <div ng-controller="CollapseSolrCtrl">
                                        <tr><td>
                                            <div collapse="isCollapsed">
                                                <span ng-click="isCollapsed = !isCollapsed">
                                                {{ doc.content | limitTo:300 }} &gt;&gt;&gt;&gt;
                                                </span>
                                            </div>
                                            <div collapse="!isCollapsed">
                                                <span ng-click="isCollapsed = !isCollapsed">
                                                {{doc.content}} &lt;&lt;&lt;&lt;
                                                </span>
                                            </div>
                                        </td></tr>
                                    </div>
                                    <tr><td>{{doc.url_page}}</td></tr>
                                    <tr><td>{{doc.last_modified|date:'yyyy-MM-dd'}}</td></tr>

                                </table>
                            </td>
                        </tr>
                    </table>

                </div>

            </div>
        </div>

    </div>
</div>


