<div ng-controller="headerCtrl">
  <div ng-include src="template.url"></div>
</div>

<h1>{{ '_USERLIST_H1_' | i18n }}</h1>
<div ng-controller="UsersListCtrl">
    <div class="alert alert-danger" ng-show="isError">
        <strong>&nbsp;</strong><span>{{errorMessage}}</span>
    </div>
    <div class="row">
        <div class="col-md-12">
            <div class="gridStyleSource" ng-grid="gridOptionsSource">
            </div>
        </div>
    </div>
    <div class="alert alert-success" ng-show="isSuccess">
        <strong>{{ '_SUCCESS_' | i18n }} :&nbsp;</strong><span>{{message}}</span>
    </div>


    <script type="text/ng-template" id="deleteUserModal.html">
        <div class="modal-header">
            <h3>{{ '_DELETE_USER_' | i18n }} {{userName}}</h3>
        </div>
        <div class="modal-body">
            {{ '_ARE_YOU_SURE_DEL_USER_' | i18n }} {{userName}} ?
        </div>

        <div class="modal-footer">
            <button class="btn btn-primary" ng-click="ok()">{{ '_OK_' | i18n }}</button>
            <button class="btn btn-warning" ng-click="cancel()">{{ '_CANCEL_' | i18n }}</button>
        </div>
    </script>
    
</div>