<div ng-controller="headerCtrl">
  <div ng-include src="template.url"></div>
</div>

<div id="list-search">
    <ol class="breadcrumb text-center">
        <li><a href="#/home">Webso</a></li>
        <li><a>Valider</a></li>
        <li class="active">Afficher informations validées</li>
    </ol>
    <div ng-controller="ValidationListCtrl">
        <div class="alert alert-danger" ng-show="isError">
            <strong>&nbsp;</strong><span>{{errorMessage}}</span>
        </div>
        <!-- <div class="selectedItems">Items: {{mySelections}}</div><br><br> -->
        <div class="selectedItems" ng-if="selectedIDs">
            <h3>{{selectedIDs.title_t}}</h3>
            <p>{{selectedIDs.content_t}}</p>
            <p>Tags: {{selectedIDs.tags_s}}</p>
            <p>Détails: {{selectedIDs.detail_s}}</p>
            <p>Commentaire: {{selectedIDs.comment_s}}</p>

        </div><br><br>

        <div class="row">
            <!--           <div class="col-md-0">

                            </div> -->
            <div class="col-md-12">
                <div class="gridStyleSource" ng-grid="gridOptionsSource">

                </div>
            </div>
        </div>

        <script type="text/ng-template" id="deleteValidationModal.html">
            <div class="modal-header">
                <h3> Effacement d'une validation {{userName}}</h3>

            </div>
            <div class="modal-body">
                Etes vous sûr de vouloir effacer cette validation {{userName}} ?
            </div>

            <div class="modal-footer">
                <button class="btn btn-primary" ng-click="ok()">OK</button>
                <button class="btn btn-warning" ng-click="cancel()">Annuler</button>

                <!-- <button class="btn btn-warning" ng-click="cancel()">Cancel</button> -->
            </div>
        </script>

        <script type="text/ng-template" id="editValidationModal.html">
            <div class="modal-header">
                <h3> Modification d'une validation {{userName}}</h3>

            </div>
            <div class="modal-body">
            {{test}}
                <form class="form-horizontal" role="form">
                    <div class="form-group" >
                        <label class="col-sm-2 control-label"> Titre </label>
                        <div class="col-sm-10">
                            <input type="text" class="form-control" ng-model="validationForm.title">
                        </div>
                    </div>
                    <div class="form-group" >
                        <label class="col-sm-2 control-label"> Url </label>
                        <div class="col-sm-10">
                            <input type="url" class="form-control" ng-model="validationForm.url">
                        </div>
                    </div>
                    <div class="form-group" >
                        <label class="col-sm-2 control-label"> Tags </label>
                        <div class="col-sm-10">
                            <input type="text" class="form-control" ng-model="validationForm.tags">
                        </div>
                    </div>
                    <div class="form-group" >
                        <label class="col-sm-2 control-label"> Détail </label>
                        <div  class="col-sm-10">
                            <textarea class="form-control" id="inputDetail" name="inputDetail" ng-model="validationForm.detail"></textarea>
                        </div>
                    </div>
                    <div class="form-group" >
                        <label class="col-sm-2 control-label"> Commentaires </label>
                        <div  class="col-sm-10">
                            <textarea class="form-control" id="inputComments" name="inputComments" ng-model="validationForm.comment"></textarea>
                        </div>
                    </div>
                    <div class="form-group" >
                        <label class="col-sm-2 control-label"> Dossiers </label>
                        <div class="col-sm-10">
                            <input type="text" class="form-control" value="{{validationForm.folder.name}}" disabled>
                            <select ng-model="validationForm.folder" ng-options="folder as folder.name for folder in folders"></select>
                        </div>
                    </div>
                </form>
            </div>

            <div class="modal-footer">
                <button class="btn btn-primary" ng-click="ok()">OK</button>
                <button class="btn btn-warning" ng-click="cancel()">Annuler</button>
            </div>
        </script>
    </div>

</div>


<!--

<div id="list-search">
    <ol class="breadcrumb text-center">
        <li><a href="#/home">Webso</a></li>
        <li><a href="#">Valider</a></li>
        <li class="active">Afficher les informations validées</li>
    </ol>

    <div ng-controller="ValidationDataCtrl">
        <div class="container-fluid">
            <div class="row-fluid">
                <div class="span2">

                </div>
                <div class="span10">

                    <table class="table table-bordered table-striped">
                        <tr >
                            <th>Titre</th>
                            <th>Lien</th>
                            <th>Auteur</th>
                            <th>Dossier de validation </th>
                            <th>Date </th>
                        </tr>

                        <tr ng-repeat="validation in validationResult.success.response.docs">
                            <td>{{validation.title_s}}</td>
                            <td>{{validation.url_s}}</td>
                            <td>{{validation.user_s}} </td>
                            <td> </td>
                            <td></td>
                        </tr>
                    </table>
                    Nombre de résultats trouvés:
                    {{Result.success.response.numFound}}
                </div>
            </div>
        </div>

    </div>
</div>
   -->