<div ng-controller="headerCtrl">
  <div ng-include src="template.url"></div>
</div>

<div id="list-search">
    <ol class="breadcrumb text-center">
    <li><a href="#/home">{{ "_SERVICE_NAME_" | i18n }}</a></li>
    <li><a>{{ "_VALIDATE_" | i18n }}</a></li>
    <li class="active">{{ "_VIEW_VALIDATE_INFOS_" | i18n }}</li>
    </ol>
    <div ng-controller="ValidationListCtrl">
        <div class="alert alert-danger" ng-show="isError">
            <strong>&nbsp;</strong><span>{{errorMessage}}</span>
        </div>
        <!-- <div class="selectedItems">Items: {{mySelections}}</div><br><br> -->
        <div class="selectedItems">{{ '_PREVIEW_' | i18n }}: {{selectedIDs}}</div><br><br>

        <div class="row">
            <!--           <div class="col-md-0">

                            </div> -->
            <div class="col-md-12">
                <div class="gridStyleSource" ng-grid="gridOptionsSource">

                </div>
            </div>
        </div>

        <script type="text/ng-template" id="deleteValidationModal.html">
            <div class="modal-header">
                <h3>{{ '_DELETE_VALIDATION_' | i18n }} {{userName}}</h3>

            </div>
            <div class="modal-body">
                {{ '_ARE_YOU_SURE_DEL_VALIDATION' | i18n }} {{userName}} ?
            </div>

            <div class="modal-footer">
                <button class="btn btn-primary" ng-click="ok()">{{ '_OK_' | i18n }}</button>
                <button class="btn btn-warning" ng-click="cancel()">{{ '_CANCEL_' | i18n }}</button>

                <!-- <button class="btn btn-warning" ng-click="cancel()">{{ '_CANCEL_' | i18n }}</button> -->
            </div>
        </script>
    </div>

</div>


<!--

<div id="list-search">
    <ol class="breadcrumb text-center">
        <li><a href="#/home">Webso</a></li>
        <li><a href="#">Valider</a></li>
        <li class="active">{{ '__' | i18n }}Afficher les informations validées</li>
    </ol>

    <div ng-controller="ValidationDataCtrl">
        <div class="container-fluid">
            <div class="row-fluid">
                <div class="span2">

                </div>
                <div class="span10">

                    <table class="table table-bordered table-striped">
                        <tr >
                            <th>{{ '__' | i18n }}Titre</th>
                            <th>{{ '__' | i18n }}Lien</th>
                            <th>{{ '__' | i18n }}Auteur</th>
                            <th>{{ '__' | i18n }}Dossier de validation </th>
                            <th>{{ '__' | i18n }}Date </th>
                        </tr>

                        <tr ng-repeat="validation in validationResult.success.response.docs">
                            <td>{{validation.title_s}}</td>
                            <td>{{validation.url_s}}</td>
                            <td>{{validation.user_s}} </td>
                            <td> </td>
                            <td></td>
                        </tr>
                    </table>
                    {{ '__' | i18n }}Nombre de résultats trouvés:
                    {{Result.success.response.numFound}}
                </div>
            </div>
        </div>

    </div>
</div>
   -->