
<!-- <script>
    tinymce.init({selector:'wysiwyg'});
</script> -->

<div ng-controller="headerCtrl">
    <div ng-include src="template.url"></div>
</div>

<ol class="breadcrumb text-center">
    <li><a href="#/home">{{ "_SERVICE_NAME_" | i18n }}</a></li>
    <li><a>{{ "_VALIDATE_" | i18n }}</a></li>
    <li class="active">{{ "_ADD_INFORMATION_" | i18n }}</li>
</ol>


<div class="hero-unit-bis" ng-controller="AddInformationCtrl">
    (*: champ obligatoire)


    <form class="form-horizontal" role="form">
        <div class="form-group" >
            <label class="col-sm-2 control-label">{{ "_TITLE_" | i18n }}*</label>
            <div class="col-sm-7">
                <input type="text" class="form-control" placeholder="{{ '_TITLE_' | i18n }}" ng-model="inputTitle" id="inputTitle" name="inputTitle">
            </div>
        </div>
    </form>

    <form class="form-horizontal" role="form">
        <div class="form-group" >
            <label class="col-sm-2 control-label">{{ "_LINK_" | i18n }}</label>
            <div class="col-sm-7">
                <input type="text" ng-blur="checkSourceUrl(inputUrl)" class="form-control" placeholder="{{ '_ENTER_LINK_' | i18n }}" ng-model="inputUrl" id="inputUrl" name="inputUrl">
            </div>
        </div>
    </form>
    <form class="form-horizontal" role="form">
        <div class="form-group" >
            <label class="col-sm-2 control-label">{{ "_TAGS_" | i18n }}</label>
            <div class="col-sm-7">
                <input type="text" class="form-control" placeholder="{{ '_ENTER_TAG_' | i18n }}" ng-model="inputTags" id="inputTags" name="inputTags">
            </div>
        </div>
    </form>

    <form class="form-horizontal" role="form">
        <div class="form-group" >
            <label class="col-sm-2 control-label">{{ "_DETAILS_" | i18n }}</label>
            <div class="col-sm-7">
                <textarea type="text" class="form-control" placeholder="{{ '_ENTER_DETAILS_' | i18n }}" ng-model="inputDetails" id="inputDetails" name="inputDetails"></textarea>
            </div>
        </div>
    </form>

    <form class="form-horizontal" role="form">
        <div class="form-group" >
            <label class="col-sm-2 control-label">{{ "_COMMENTS_" | i18n }}*</label>
            <div class="col-sm-7">
                <textarea type="text" class="form-control" placeholder="{{ '_ENTER_COMMENTS_' | i18n }}" ng-model="inputComments" id="inputComments" name="inputComments"></textarea>
            </div>
        </div>
    </form>

    <form class="form-horizontal" role="form">
        <div class="form-group" >
            <label class="col-sm-2 control-label">{{ "_INPUT_FILE_" | i18n }}</label>

            <div class="col-sm-2" style="border: 5px dashed #ddd; margin-left: 15px; padding-top: 16px; height: 65px; text-align: center; width: 200px;" ng-file-drop="onFileSelect($files)" ng-file-drag-over-delay="100" ng-file-drag-over-class="dragOverClass($event)" ng-file-drop-available="dropSupported=true" ng-show="dropSupported">
                {{ "_DROP_FILE_HERE_" | i18n }}
            </div>

            <div class="col-sm-2" style="border: 5px dashed #ddd; margin-left: 15px; padding-top: 16px; height: 65px; text-align: center; width: 200px;" ng-file-drop-available="dropSupported=true" ng-show="!dropSupported">
                {{ "_HTML5_NOt_SUPPORTED_" | i18n }}
            </div>
            <div class="col-xs-1" style="text-align:center; padding-top: 16px;">
                OU
            </div>
            <div class="col-sm-3">
                <input type="text" class="form-control" ng-model="myModelObj">
                <input type="file" ng-file-select="onFileSelect($files)"> <!-- multiple accept="image/*"> -->
            </div>

            <div class="col-sm-7" ng-file-select="onFileSelect($files)" data-multiple="true"></div>
            
            <!-- <button class="btn btn-default" ng-click="upload.abort()">Cancel Upload</button> -->
        </div>
    </form>

    <form class="form-horizontal" role="form">
        <div class="form-group" >
            <label class="col-sm-2 control-label">{{ "_FOLDER_" | i18n }}*</label>
            <div class="col-sm-7">
                <!-- <textarea type="text" class="form-control" placeholder="Entrer tags" ng-model="inputDetails" id="inputDetails" name="inputDetails"></textarea> -->
                <select ng-model="inputFolder" name="inputFolder" ng-options="folder as folder.name for folder in folders"></select>
                <!-- <select id="inputFolder" name="inputFolder" ng-model="inputFolder" required>
                    <option ng-repeat="folder in folders" value="{{folder.id}}">{{folder.name}}</option>
                </select> -->
            </div>
        </div>
    </form>

    <div class="form-group">
        <div class="col-lg-offset-2 col-lg-10">
            <button type="submit" class="btn btn-default" ng-click="doAdd()" name="add" analytics-on='click' analytics-event='Validate' analytics-label='Validate_add_information' analytics-category='Active'>{{ "_VALIDATE_" | i18n }}</button>

        </div>
    </div>

    <!-- Testing Modal  -->
    <script type="text/ng-template" id="validateModal.html">
        <div class="modal-header">
            <h3>{{ "_ADD_INFORMATION_" | i18n }}</h3>
        </div>
        <div class="modal-body">
            {{ "_VALIDATION_SUCCESS_" | i18n }}
        </div>
        <div class="modal-footer">
            <button class="btn btn-primary" ng-click="ok()">{{ "_OK_" | i18n }}</button>

            <!-- <button class="btn btn-warning" ng-click="cancel()">{{ "_CANCEL_" | i18n }}</button> -->
        </div>
    </script>
</div>

