

<div id="list-search">
    <div ng-controller="displaySurveillanceCtrl">
        <div class="container-fluid">
            <div class="row-fluid">
                <div class="span2">

                </div>
                <div class="span10">

                    <table class="table table-bordered table-striped">
                        <tr >
                            <th>Nom de la surveillance</th>
                            <th>Source</th>
                            <th>Dossier de surveillance</th>
                            <th>Requête</th>
                            <th>Nb d'informations validées</th>
                            <th> Auteur </th>
                        </tr>
                        <tr ng-repeat="surveillance in surveillanceResult.success.response.docs">
                            <td>{{surveillance.surveillance_title_s}}</td>
                            <td>{{surveillance.surveillance_url_s}}</td>
                            <td> </td>
                            <td> </td>
                            <td> </td>
                            <td>{{surveillance.source_user_s}}</td>

                        </tr>
                    </table>
                    Nombre de résultats trouvés:
                    {{surveillanceResult.success.response.numFound}}
                </div>
            </div>
        </div>
    </div>
</div>
