<div class="alert alert-info" ng-if="!solrResult.success.response.numFound">
    {{ '_SELECTED_VALIDATION_' | i18n }}
</div>
<div ng-if="solrResult">
    <div id="docsFound">
        <div solr-result ng-show="solrResult.success.response.numFound">
            <table class="table table-striped">
                <tr ng-repeat="doc in solrResult.success.response.docs">
                    <td>
                        <div id="titleFound">
                            <a href="{{doc.url_s}}" target="_blank">{{doc.title_t}}</a>
                        </div>
                        <div id="detailsFound">
                            {{ '_DETAILS_' | i18n }} : {{doc.detail_s}}
                        </div>
                        <div id="detailsFound">
                            {{ '_TAGS_' | i18n }} : <span ng-repeat="tag in doc.tags_ss"><u>{{tag}}</u>,&nbsp;</span>
                        </div>
                        <div id="detailsFound">
                            {{ '_FOLDER_' | i18n }} : {{doc.folder_s}}
                        </div>
                    </td>
                    <td>
                        <button type="button" class="btn btn-xs" ng-click="shareDoc(doc,'solr')" tooltip="{{ '_SHARE_DOCUMENT_' | i18n }}"> <span class="glyphicon glyphicon-send"></span></button>
                    </td>
                </tr>
            </table>
        </div>
    </div>
</div>