<div class="alert alert-info" ng-if="!data">
	Sélectionnez un ID de source dans la configuration du widget
</div>
<div ng-if="solrResult">
    <div id="docsFound">
        <div solr-result ng-show="solrResult.response.numFound">
            <table class="table table-striped">
                <tr ng-repeat="doc in solrResult.response.docs">
                    <td>
                        <div id="titleFound">
                            <a href="{{doc.url_s}}" target="_blank">{{doc.title_t}}</a>
                        </div>
                        <div id="dateFound">
                            date : {{doc.date_dt|date:'dd-MM-yyyy hh:mm'}}
                        </div>
                        <div id="contentFound">
                            <div ng-controller="CollapseSolrCtrl">
                                <div collapse="!isCollapsed">
                                        <span ng-click="isCollapsed = !isCollapsed">
                                           &gt;&gt;&gt;&gt;
                                        </span>
                                </div>
                                <div collapse="isCollapsed">
                                        <span ng-click="isCollapsed = !isCollapsed">
                                        {{solrResult.highlighting[doc.id].content_en[0]}} &lt;&lt;&lt;&lt;
                                        </span>
                                </div>
                            </div>
                        </div>
                    </td>
                </tr>
            </table>
        </div>
    </div>
</div>