<div ng-controller="headerCtrl">
  <div ng-include src="template.url"></div>
</div>

<ol class="breadcrumb text-center">
    <li><a href="#/home">{{ '_SERVICE_NAME_' | i18n }}</a></li>
    <li><a href="#">{{ '_ORGANIZE_BAR_ITEM_' | i18n }}</a></li>
    <li class="active">{{ '_ORGANIZE_BAR_WATCH_' | i18n }}</li>
</ol>

<div ng-controller="AddWatchCtrl">
    <div class="alert alert-danger" ng-show="isError">
        <strong>&nbsp;</strong><span>{{errorMessage}}</span>
    </div>

    <form name="sourceForm" class="form-horizontal" role="form">
        <!-- source panel -->
         <div class="row">
            <h3>{{ '_ADD_WATCH_' | i18n }}</h3>
            {{ '_REQUIRE_FIELDS_' | i18n }}
            <div class="panel panel-default">
                <div class="panel-body">

                    <tabset ng-show="heg">
                        <tab heading="{{tabsSource[0].title}}" ng-show="heg">
                            <div class="col-md-6" ng-show="heg">
                                <div class="form-group" >
                                    <label class="col-md-5 control-label required">{{ '_SOURCE_' | i18n }}</label>


                                    <div class="col-md-6">
                                        <input type="url" ng-blur="checkSourceUrl(inputUrl)" class="form-control" placeholder="Entrer URL" ng-model="model.inputUrl" id="inputUrl" name="inputUrl">

                                    </div>
                                    <div class="col-md-1">

                                        <span class="glyphicon glyphicon-repeat" ng-show="checkingSource"></span>
                                    </div>

                                </div>
                                <div class="form-group" >
                                    <label class="col-md-5 control-label">{{ '_SOURCE_NAME_' | i18n }}</label>
                                    <div class="col-md-7">
                                        <input type="text" class="form-control" placeholder="{{ '_ENTER_TITLE_' | i18n }}" ng-model="model.inputTitle" id="inputTitle" name="inputTitle">
                                    </div>
                                </div>


                                <div class="form-group" >
                                    <label class="col-md-5 control-label">{{ '_FREQUENCY_CHECK_' | i18n }}</label>
                                    <div class="col-md-7">
                                        <select ng-model="model.inputFrequency" ng-options="frequency.option for frequency in frequencies" require></select>
                                    </div>
                                </div>


                                <div class="form-group" >
                                    <label class="col-md-5 control-label">{{ '_TAG_' | i18n }}</label>
                                    <div class="col-md-7">
                                        <input type="text" class="form-control" placeholder="{{ '_ENTER_TAG_' | i18n }}" ng-model="model.inputTags" id="inputTags" name="inputTags">
                                    </div>

                                </div>

                                <div class="form-group">
                                  <label class="checkbox">
                                    <div class="col-sm-offset-5 col-sm-10">
                                        <input type="checkbox" class="checkbox-control" ng-model="model.valueCheckBoxSource" name="valueCheckBox"> 
                                        {{ '_ADD_WIDGET_TO_DASHBOARD_' | i18n }}
                                    </div>
                                  </label>
                                </div>

                                <div class="form-group">
                                    <div class="col-md-offset-5 col-md-7">
                                        <button ng-disabled="!sourceChecked" type="submit" class="btn btn-default" ng-click="doAddSource() " name ="watch" required>{{ '_ADD_SOURCE_' | i18n }}</button>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-6" id="displaySample">
                                <div class="scroll-area" data-spy="scroll" data-target="#myNavbar" data-offset="0">
                                    <div ng-show="sourceChecked">
                                        {{checkSourceResult.count}} élément(s) trouvé(s)
                                        <div ng-repeat="item in checkSourceResult.items">
                                            <div class row>

                                                <h5 ng-bind-html="item.title"></h5>

                                                <p ng-bind-html="item.description"></p>


                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </tab>

                        <tab heading="{{tabsSource[1].title}}" select="doSearchSource()" analytics-on='click' analytics-event='Surveillance' analytics-label='Watch_list_source' analytics-category='Passive'>
                            <div class="col-md-12">
                            <div class="gridStyleSourceSmall" ng-grid="gridOptionsSource">

                            </div>
                            </div>
                        </tab>
                    </tabset>
                    <tabset ng-hide="heg">
                        <tab heading="{{tabsSource[1].title}}" select="doSearchSource()" analytics-on='click' analytics-event='Surveillance' analytics-label='Watch_list_source' analytics-category='Passive'>
                            <div class="col-md-12">
                            <div class="gridStyleSourceSmall" ng-grid="gridOptionsSource">

                            </div>
                            </div>
                        </tab>
                    </tabset>

                </div>
            </div>
        </div>

        <!-- watch panel -->
        <div class="row">
            <div class="panel panel-default" ng-show="heg">
                <div class="panel-body">
                    <div ng-show="model.inputUrl">
                        {{ '_SOURCE_' | i18n }}: {{model.inputUrl}}, {{ '_TITLE_' | i18n }}: {{model.inputTitle}}
                    </div>
                    <tabset>
                        <tab heading="{{tabsWatch[0].title}}">
                            <div class="col-md-6">


                                <div class="form-group" >
                                    <label class="col-md-5 control-label">{{ '_FOLDER_' | i18n }}</label>
                                    <div  class="col-md-7">
                                        <select id="inputFolder" name="inputFolder" ng-model="model.inputFolder" ng-options="folder.name for folder in folders"></select>
                                    </div>
                                </div>


                                <div class="form-group" >
                                    <label class="col-md-5 control-label">{{ '_REQUEST_' | i18n }}</label>
                                    <div class="col-md-7">
                                        <input type="text" name ="inputQuery" id="inputQuery" ng-model="model.inputQuery">
                                        <button ng-disabled="docAvailable" type="submit" class="btn btn-default" name ="testButton" ng-click="testWatch()">Tester</button>
                                    </div>
                                </div>


                                <div class="form-group" >
                                    <label class="col-md-5 control-label">{{ '_NOTIFICATION_' | i18n }}</label>

                                    <div class="col-md-7">
                                        <select id="inputNotification" ng-model="model.inputNotification" ng-options="notification.option for notification in notifications"></select>
                                    </div>
                                </div>

                                <div class="form-group">
                                  <label class="checkbox">
                                    <div class="col-sm-offset-5 col-sm-10">
                                        <input type="checkbox" class="checkbox-control" ng-model="model.valueCheckBoxWatch" name="valueCheckBox"> 
                                        {{ '_ADD_WIDGET_TO_DASHBOARD_' | i18n }}
                                    </div>
                                  </label>
                                </div>

                                <div class="form-group">
                                    <div class="col-md-offset-5 col-md-7">
                                        <button analytics-on='click' analytics-event='Surveillance' analytics-label='Watch_add_surveillance' analytics-category='Active' type="submit" class="btn btn-default" ng-click="doAddWatch()" name ="surveiller">{{ '_WATCH_' | i18n }}</button>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-6" id="displaySolrTest">
                                <div class="scroll-area" data-spy="scroll" data-target="#myNavbar" data-offset="0">
                                    <div ng-show="solrResult.success.response">
                                        {{solrResult.success.response.numFound||0}} {{ '_DOCUMENTS_FOUND_' | i18n }}
                                    <div ng-show="solrResult.success.response.numFound">

                                        <div ng-repeat="doc in solrResult.success.response.docs">
                                            <div class row>

                                                </p><a href="{{doc.url_s}}" target="_blank">{{doc.title_t}}</a>

                                                <p><span ng-if="solrResult.success.highlighting[doc.id].content_en[0]" ng-bind-html="solrResult.success.highlighting[doc.id].content_en[0]+'...'"></span>
                                                </p>


                                            </div>
                                        </div>
                                    </div>
                                    </div>
                                </div>
                            </div>
                        </tab>
                        <tab heading="{{tabsWatch[1].title}}" select="doSearchWatch()">
                            <div class="col-md-12">
                                <div class="gridStyleWatchSmall" ng-grid="gridOptionsWatch">

                                </div>
                            </div>
                        </tab>
                    </tabset>
                </div>
            </div>

            <div ng-hide="heg">
                <div ng-show="model.inputUrl">
                    {{ '_SOURCE_' | i18n }}: {{model.inputUrl}}, {{ '_TITLE_' | i18n }}: {{model.inputTitle}}
                </div>
                <div class="col-md-6">
                    <div class="form-group" >
                        <label class="col-md-5 control-label">{{ '_FOLDER_' | i18n }}*</label>
                        <div  class="col-md-7">
                            <select id="inputFolder" name="inputFolder" ng-model="model.inputFolder" ng-options="folder.name for folder in folders"></select>
                        </div>
                    </div>

                    <div class="form-group">
                        <label class="col-md-5 control-label">{{ '_FREQUENCY_CHECK_' | i18n }}*</label>
                        <div class="col-md-7">
                            <select ng-model="model.inputFrequency" ng-options="frequency.option for frequency in frequencies" require></select>
                        </div>
                    </div>

                    <div class="form-group" >
                        <label class="col-md-5 control-label">{{ '_REQUEST_' | i18n }}</label>
                        <div class="col-md-7">
                            <input type="text" name ="inputQuery" id="inputQuery" ng-model="model.inputQuery">
                            <button ng-disabled="docAvailable" type="submit" class="btn btn-default" name ="testButton" ng-click="testWatch()">{{ '_TEST_' | i18n }}</button>
                        </div>
                    </div>


                    <div class="form-group" >
                        <label class="col-md-5 control-label">{{ '_NOTIFICATION_' | i18n }}</label>

                        <div class="col-md-7">
                            <select id="inputNotification" ng-model="model.inputNotification" ng-options="notification.option for notification in notifications"></select>
                        </div>
                    </div>

                    <div class="form-group">
                      <label class="checkbox">
                        <div class="col-sm-offset-5 col-sm-10">
                            <input type="checkbox" class="checkbox-control" ng-model="model.valueCheckBoxWatch" name="valueCheckBox"> 
                            {{ '_ADD_WIDGET_TO_DASHBOARD_' | i18n }}
                        </div>
                      </label>
                    </div>

                    <div class="form-group">
                        <div class="col-md-offset-5 col-md-7">
                            <button analytics-on='click' analytics-event='Surveillance' analytics-label='Watch_add_surveillance' analytics-category='Active' type="submit" class="btn btn-default" ng-click="doAddWatch()" name ="surveiller">{{ '_WATCH_' | i18n }}</button>
                        </div>
                    </div>
                </div>
                <div class="col-md-6" id="displaySolrTest">
                    <div class="scroll-area" data-spy="scroll" data-target="#myNavbar" data-offset="0">
                        <div ng-show="solrResult.success.response">
                            {{solrResult.success.response.numFound||0}} {{ '_DOCUMENTS_FOUND_' | i18n }}
                        <div ng-show="solrResult.success.response.numFound">

                            <div ng-repeat="doc in solrResult.success.response.docs">
                                <div class row>

                                    </p><a href="{{doc.url_s}}" target="_blank">{{doc.title_t}}</a>

                                    <p><span ng-if="solrResult.success.highlighting[doc.id].content_en[0]" ng-bind-html="solrResult.success.highlighting[doc.id].content_en[0]+'...'"></span>
                                    </p>


                                </div>
                            </div>
                        </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </form>

    <!-- Testing Modal  -->
    <script type="text/ng-template" id="addWatchModal.html">
        <div class="modal-header">
            <h3>{{ '_MODAL_WATCH_ADD_' | i18n }}</h3>
        </div>
        <div class="modal-body">
            {{ '_MODAL_WATCH_ADD_OK_' | i18n }}
        </div>
        <div class="modal-footer">
            <button class="btn btn-primary" ng-click="ok()">{{ '_OK_' | i18n }}</button>

            <!-- <button class="btn btn-warning" ng-click="cancel()">{{ '_CANCEL_' | i18n }}</button> -->
        </div>
    </script>

    <script type="text/ng-template" id="addSourceModal.html">
        <div class="modal-header">
            <h3>{{ '_MODAL_SOURCE_ADD_' | i18n }}</h3>

        </div>
        <div class="modal-body">
            {{ '_MODAL_SOURCE_ADD_OK_' | i18n }}
        </div>

        <div class="modal-footer">
            <button class="btn btn-primary" ng-click="ok()">{{ '_OK_' | i18n }}</button>

            <!-- <button class="btn btn-warning" ng-click="cancel()">{{ '_CANCEL_' | i18n }}</button> -->
        </div>
    </script>



    <script type="text/ng-template" id="deleteSourceModal.html">
        <div class="modal-header">
            <h3>{{ '_MODAL_SOURCE_DEL_' | i18n }}</h3>

        </div>
        <div class="modal-body">
            {{ '_ARE_YOU_SURE_DEL_SOURCE_' | i18n }}
        </div>

        <div class="modal-footer">
            <button class="btn btn-primary" ng-click="ok()">{{ '_OK_' | i18n }}</button>
            <button class="btn btn-warning" ng-click="cancel()">{{ '_CANCEL_' | i18n }}</button>

            <!-- <button class="btn btn-warning" ng-click="cancel()">{{ '_CANCEL_' | i18n }}</button> -->
        </div>
    </script>


    <script type="text/ng-template" id="deleteWatchModal.html">
        <div class="modal-header">
            <h3>{{ '_MODAL_SOURCE_WATCH_' | i18n }}</h3>

        </div>
        <div class="modal-body">
            {{ '_ARE_YOU_SURE_DEL_WATCH_' | i18n }}
        </div>

        <div class="modal-footer">
            <button class="btn btn-primary" ng-click="ok()">{{ '_OK_' | i18n }}</button>
            <button class="btn btn-warning" ng-click="cancel()">{{ '_CANCEL_' | i18n }}</button>
        </div>
    </script>

    <!-- Edit Modal -->
    <script type="text/ng-template" id="editWatchModal.html">
        <div class="modal-header">
            <h3>{{ '_MODAL_EDIT_WATCH_' | i18n }}</h3>

            </div>
            <div class="modal-body">
                <form class="form-horizontal" role="form">
                    <!-- <div class="form-group" >
                        <label class="col-sm-3 control-label">{{ '_SOURCE_' | i18n }}</label>
                        <div class="col-sm-9">
                            <input type="url" class="form-control" ng-model="ModalForm.url">
                        </div>
                    </div>-->

                    <div class="form-group" >
                        <label class="col-sm-3 control-label">{{ '_QUERY_' | i18n }}</label>
                        <div class="col-sm-9">
                            <input type="text" class="form-control" ng-model="ModalForm.query">
                        </div>
                    </div>

                    <div class="form-group" >
                        <label class="col-sm-3 control-label">{{ '_TAGS_' | i18n }}</label>
                        <div class="col-sm-9">
                            <input type="text" class="form-control" ng-model="ModalForm.tags">
                        </div>
                    </div>

                    <div class="form-group" >
                        <label class="col-sm-3 control-label">{{ '_FOLDER_' | i18n }}</label>
                        <div class="col-sm-9">
                            <input type="text" class="form-control" value="{{ModalForm.folder.name}}" disabled>
                            <select id="inputFolder" ng-model="ModalForm.folder" ng-options="folder.name for folder in folders"></select>
                        </div>
                    </div>

                    <div class="form-group" >
                        <label class="col-sm-3 control-label">{{ '_FREQUENCY_CHECK_' | i18n }}</label>
                        <div class="col-sm-9">
                            <input type="text" class="form-control" value="{{ModalForm.frequency.option}}" disabled>
                            <select id="inputFrequency" ng-model="ModalForm.frequency" ng-options="frequency.option for frequency in frequencies"></select>
                        </div>
                    </div>

                    <div class="form-group" >
                        <label class="col-sm-3 control-label">{{ '_NOTIFICATION_' | i18n }}</label>

                        <div class="col-sm-9">
                            <input type="text" class="form-control" value="{{ModalForm.notification.option}}" disabled>
                            <select id="inputNotification" ng-model="ModalForm.notification" ng-options="notification.option for notification in notifications"></select>
                        </div>
                    </div>
                </form>
            </div>
        </div>
        <div class="modal-footer">
            <button class="btn btn-primary" ng-click="ok()">{{ '_OK_' | i18n }}</button>
            <button class="btn btn-warning" ng-click="cancel()">{{ '_CANCEL_' | i18n }}</button>
        </div>
    </script>
</div>

                
<div ng-controller="WatchListCtrl">

        <div class="row">
            <!--           <div class="col-md-0">

                            </div> -->
            <div class="col-md-12">
                <h3>{{ '_WATCH_LIST_' | i18n }}</h3>
                <div class="gridStyleSource" ng-grid="gridOptionsSource">

                </div>
            </div>
        </div>

    </div>

