<div ng-controller="headerCtrl">
  <div ng-include src="template.url"></div>
</div>

<div id="search-new-feeds">


    <div class="row">
        <div class="col-md-12">
            <ol class="breadcrumb text-center">
                <li><a href="#/home">Webso</a></li>
                <li><a >Collecter</a></li>
                <li class="active">Flux RSS</li>
            </ol>
        </div>
    </div>

    <div ng-controller="GoogleFeedCtrl">
        <div class="alert alert-danger" ng-show="isError">
            <strong>&nbsp;</strong><span>{{errorMessage}}</span>
        </div>
        <div class="row">
            <div class="col-md-12">
                <form class="form-horizontal" ng-submit="doSearch()">
                    <input type="text" placeholder="Chercher" ng-model="model.searchTerm" name ="searchTerm">
                    <button class="btn" ng-click="doSearch()" name ="searchButton" analytics-on='click' analytics-event='Search' analytics-label='Search_RSS' analytics-category='Passive'><i class="icon-search"></i>Search</button>
                </form>
                <!-- <div solr-results_number ng-show="model.foundRes"> -->
                     Found: {{model.foundRes}} rss

                    <div class="gridStyle" ng-grid="gridOptions">



                    </div>

                    <!-- <button ng-click="selectAll()" name ="msgSelect">{{msgSelect}}</button> -->

                    <!-- <button ng-click="createOPML()" name ="createOpml">Create OPML</button> -->

                    <button ng-click="doAddRss()" name ="addRss">{{model.msgAdd}}</button>

                    <!-- <div class="selectedItems">{{mySelections}}</div> -->

<!--                    <button ng-click="fixGridRendering()" name ="fixGrid">fixGrid</button>
                </div> -->
            </div>
        </div>

    </div>
</div>


<script type="text/ng-template" id="addSourceModal.html">
    <div class="modal-header">
        <h3> Ajout de Source</h3>

    </div>
    <div class="modal-body">
        Sources ajoutées avec succès
    </div>

    <div class="modal-footer">
        <button class="btn btn-primary" ng-click="ok()">OK</button>

        <!-- <button class="btn btn-warning" ng-click="cancel()">Cancel</button> -->
    </div>
</script>