<div class="modal-header">
    <h3>{{ '_VALIDATE_FILE_' | i18n }}</h3>
</div>
<div class="modal-body">
    <div>{{ '_REQUIRE_FIELDS_' | i18n }}</div>
    <form class="form-horizontal" role="form">
        <div class="form-group" >
            <label class="col-sm-2 control-label">{{ '_TITLE_' | i18n }}*</label>
            <div class="col-sm-10">
                <input type="text" class="form-control" ng-model="validationForm.title">
            </div>
        </div>
        <div class="form-group" >
            <label class="col-sm-2 control-label">{{ '_URL_' | i18n }}</label>
            <div class="col-sm-10">
                <input type="url" class="form-control" ng-model="validationForm.url">
            </div>
        </div>
        <div class="form-group" >
            <label class="col-sm-2 control-label">{{ '_TAG_' | i18n }}*</label>
            <div class="col-sm-10">
                <input type="text" class="form-control" ng-model="validationForm.tags">
            </div>
        </div>
        <div class="form-group" >
            <label class="col-sm-2 control-label">{{ '_CONTENT_' | i18n }}</label>
            <div class="col-sm-10">
                <textarea class="form-control" rows="6" ng-model="validationForm.content"></textarea>
            </div>
        </div>
        <div class="form-group" >
            <label class="col-sm-2 control-label">{{ '_COMMENTS_' | i18n }}*</label>
            <div class="col-sm-10">
                <textarea class="form-control" rows="6" ng-model="validationForm.comment"></textarea>
            </div>
        </div>
        <div class="form-group" >
            <label class="col-sm-2 control-label">{{ '_FOLDER_' | i18n }}*</label>
            <div class="col-sm-10">
                <select ng-model="validationForm.folder" ng-options="folder as folder.name for folder in folders"></select>
                <!-- <pre>{{validationFolder.id}}</pre>
                <select id="validationFolder" name="validationFolder" ng-model="validationFolder">
                    <option ng-repeat="folder in folders" value="{{folder.id}}">{{folder.name}}</option>
                </select> -->
            </div>
        </div>
        <div class="form-group" >
            <label class="col-sm-2 control-label">{{ "_IMPORTANCE_" | i18n }}*</label>
            <div class="col-sm-10">
                <table>
                    <tr>
                        <td>
                            <span style="display:block; height:5px; width:40px; background-color:green;"></span>
                        </td>
                        <td>
                            <span style="display:block; height:5px; width:40px; background-color:yellow;"></span>
                        </td>
                        <td>
                            <span style="display:block; height:5px; width:40px; background-color:orange;"></span>
                        </td>
                        <td>
                            <span style="display:block; height:5px; width:40px; background-color:red;"></span>
                        </td>
                    </tr>
                    <tr>
                        <td style="text-align: center;">
                            <input type="radio" ng-model="validationForm.importance" name="importance" value="1" checked>
                        </td>
                        <td style="text-align: center;">
                            <input type="radio" ng-model="validationForm.importance" name="importance" value="2">
                        </td>
                        <td style="text-align: center;">
                            <input type="radio" ng-model="validationForm.importance" name="importance" value="3">
                        </td>
                        <td style="text-align: center;">
                            <input type="radio" ng-model="validationForm.importance" name="importance" value="4">
                        </td>
                    </tr>
                </table>
            </div>
        </div>
    </form>

</div>
<div class="modal-footer">
    <button class="btn btn-primary" ng-click="ok()">{{ '_OK_' | i18n }}</button>

    <button class="btn btn-warning" ng-click="cancel()">{{ '_CANCEL_' | i18n }}</button>
</div>